In [2]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import sys
import sqlalchemy as db
import pandas as pd
from sqlalchemy import create_engine
import pickle

Downloading MTA data from May 2021-Apr 2022

In [ ]:
engine = db.create_engine('sqlite:///mta_data.db')
engine

In [ ]:
all_tables = engine.table_names()

In [ ]:
all_tables

In [ ]:
mta_df_0521 = pd.read_sql("select * from mta_data;", engine) #May 2021

In [ ]:
mta_df_0521.head()

In [ ]:
mta_df_0521.shape

In [ ]:
mta_df_0521.to_pickle("mta_df_0521.pkl") #may 2021

In [ ]:
mta_df_0521 = pd.read_pickle("mta_df_0521.pkl")

In [ ]:
mta_df_0621 = pd.read_sql("select * from mta_data;", engine) #jun 2021

In [ ]:
mta_df_0621.to_pickle("mta_df_0621.pkl")

In [ ]:
mta_df_070821 = pd.read_sql("select * from mta_data;", engine) #jul & aug 2021

In [ ]:
mta_df_070821.to_pickle("mta_df_070821.pkl")

In [ ]:
mta_df_091021 = pd.read_sql("select * from mta_data;", engine) #sep & oct 2021

In [ ]:
mta_df_091021.to_pickle("mta_df_091021.pkl")

In [ ]:
mta_df_111221 = pd.read_sql("select * from mta_data;", engine) #nov & dec 2021

In [ ]:
mta_df_111221.to_pickle("mta_df_111221.pkl")

In [ ]:
mta_df_010222 = pd.read_sql("select * from mta_data;", engine) #jan & feb 2022

In [ ]:
mta_df_010222.to_pickle("mta_df_010222.pkl")

In [ ]:
mta_df_030422 = pd.read_sql("select * from mta_data;", engine) #mar & apr 2022

In [3]:
mta_df_030422.to_pickle("mta_df_030422.pkl")

In [9]:
mta_df_0521 = pd.read_pickle("mta_df_0521.pkl")

In [10]:
mta_df_0621 = pd.read_pickle("mta_df_0621.pkl")

In [11]:
mta_df_070821 = pd.read_pickle("mta_df_070821.pkl")

In [12]:
mta_df_091021 = pd.read_pickle("mta_df_091021.pkl")

In [13]:
mta_df_111221 = pd.read_pickle("mta_df_111221.pkl")

In [2]:
mta_df_010222 = pd.read_pickle("mta_df_010222.pkl")

In [3]:
mta_df_030422 = pd.read_pickle("mta_df_030422.pkl")

In [14]:
df_2021 = [mta_df_0521, mta_df_0621, mta_df_070821, mta_df_091021, mta_df_111221]

In [4]:
df_2022 = [mta_df_010222, mta_df_030422]

In [15]:
mta_df_2021 = pd.concat([mta_df_0521, mta_df_0621, mta_df_070821, mta_df_091021, mta_df_111221], axis=0)

In [5]:
mta_df_2022 = pd.concat([mta_df_010222, mta_df_030422], axis=0)

In [16]:
mta_df_2021.head() #mta data May 2021-Apr 2022

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,00:00:00,REGULAR,7575503,2588978
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,04:00:00,RECOVR AUD,7575515,2588982
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,08:00:00,REGULAR,7575523,2588989
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,12:00:00,REGULAR,7575557,2588996
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,16:00:00,REGULAR,7575630,2589008

In [16]:
mta_df_2021.shape

(19694071, 11)

In [17]:
mta_df_2021.dtypes

C/A         object
UNIT        object
SCP         object
STATION     object
LINENAME    object
DIVISION    object
DATE        object
TIME        object
DESC        object
ENTRIES      int64
EXITS        int64
dtype: object

In [18]:
mta_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19694071 entries, 0 to 7340139
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   C/A       object
 1   UNIT      object
 2   SCP       object
 3   STATION   object
 4   LINENAME  object
 5   DIVISION  object
 6   DATE      object
 7   TIME      object
 8   DESC      object
 9   ENTRIES   int64
 10  EXITS     int64
dtypes: int64(2), object(9)
memory usage: 1.8+ GB

In [19]:
mta_df_2022.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,00:00:00,REGULAR,7575503,2588978
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,04:00:00,RECOVR AUD,7575515,2588982
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,08:00:00,REGULAR,7575523,2588989
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,12:00:00,REGULAR,7575557,2588996
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,16:00:00,REGULAR,7575630,2589008

In [20]:
mta_df_2021.to_pickle("mta_df_2021.pkl")

In [4]:
mta_df_2021 = pd.read_pickle("mta_df_2021.pkl")

In [6]:
mta_df_2022.to_pickle("mta_df_2022.pkl")

In [5]:
mta_df_2022 = pd.read_pickle("mta_df_2022.pkl")

In [6]:
mta_df = pd.concat([mta_df_2021, mta_df_2022], axis=0)

In [7]:
mta_df.to_pickle("mta_df.pkl")

In [8]:
mta_df = pd.read_pickle("mta_df.pkl")

In [9]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,00:00:00,REGULAR,7575503,2588978
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,04:00:00,RECOVR AUD,7575515,2588982
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,08:00:00,REGULAR,7575523,2588989
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,12:00:00,REGULAR,7575557,2588996
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,16:00:00,REGULAR,7575630,2589008