<b>Overview:</b> SparkFit is looking to open another location for a certified StrongFirst personal training studio and wants to know what area of NYC they should consider based off of 1) high volume subway commuters and 2) one that is not in close proximity to another StrongFirst certified gym.

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets
import seaborn as sns

## <b> Data used in this project reflects May 2021-Apr 2022 MTA turnstile data.</b>
* MTA turnstile data is from http://web.mta.info/developers/turnstile.html
* All data was processed and imported from SQL using SQLalchemy in notebook #1, getting the data.

In [2]:
mta_df = pd.read_pickle("mta_df.pkl")

In [3]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,00:00:00,REGULAR,7575503,2588978
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,04:00:00,RECOVR AUD,7575515,2588982
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,08:00:00,REGULAR,7575523,2588989
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,12:00:00,REGULAR,7575557,2588996
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,16:00:00,REGULAR,7575630,2589008

In [4]:
mta_df.shape

(40049393, 11)

In [5]:
mta_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40049393 entries, 0 to 11125368
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   C/A       object
 1   UNIT      object
 2   SCP       object
 3   STATION   object
 4   LINENAME  object
 5   DIVISION  object
 6   DATE      object
 7   TIME      object
 8   DESC      object
 9   ENTRIES   int64
 10  EXITS     int64
dtypes: int64(2), object(9)
memory usage: 3.6+ GB

### Transforming date into datetype.

In [6]:
# Take the date and time fields into a single datetime column
mta_df["DATE_TIME"] = pd.to_datetime(mta_df.DATE + " " + mta_df.TIME, format="%m/%d/%Y %H:%M:%S")

mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,00:00:00,REGULAR,7575503,2588978,2021-05-22 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,04:00:00,RECOVR AUD,7575515,2588982,2021-05-22 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,08:00:00,REGULAR,7575523,2588989,2021-05-22 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,12:00:00,REGULAR,7575557,2588996,2021-05-22 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2021,16:00:00,REGULAR,7575630,2589008,2021-05-22 16:00:00

In [7]:
mta_df.dtypes

C/A                  object
UNIT                 object
SCP                  object
STATION              object
LINENAME             object
DIVISION             object
DATE                 object
TIME                 object
DESC                 object
ENTRIES               int64
EXITS                 int64
DATE_TIME    datetime64[ns]
dtype: object

### Assess for duplicate Entries & Exits
* Assessing for Entries first.

In [8]:
# verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(mta_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(20)

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
948821   B024  R211  00-05-00       KINGS HWY 2021-05-01 16:00:00       14
4628944  N329  R201  00-03-02  WOODHAVEN BLVD 2021-05-08 09:00:00       14
4628942  N329  R201  00-03-02  WOODHAVEN BLVD 2021-05-08 01:00:00       14
948842   B024  R211  00-05-00       KINGS HWY 2021-05-05 04:00:00       14
948841   B024  R211  00-05-00       KINGS HWY 2021-05-05 00:00:00       14
948840   B024  R211  00-05-00       KINGS HWY 2021-05-04 20:00:00       14
948839   B024  R211  00-05-00       KINGS HWY 2021-05-04 16:00:00       14
948838   B024  R211  00-05-00       KINGS HWY 2021-05-04 12:00:00       14
948837   B024  R211  00-05-00       KINGS HWY 2021-05-04 08:00:00       14
948835   B024  R211  00-05-00       KINGS HWY 2021-05-04 00:00:00       14
948833   B024  R211  00-05-00       KINGS HWY 2021-05-03 16:00:00       14
948832   B024  R211  00-05-00       KINGS HWY 2021-05-03 12:00:00       14
948831   B024  R211  00-05-00       KINGS HWY 2021-05-03 08:00:00       14
948829   B024  R211  00-05-00       KINGS HWY 2021-05-03 00:00:00       14
948828   B024  R211  00-05-00       KINGS HWY 2021-05-02 20:00:00       14
948827   B024  R211  00-05-00       KINGS HWY 2021-05-02 16:00:00       14
948826   B024  R211  00-05-00       KINGS HWY 2021-05-02 12:00:00       14
948825   B024  R211  00-05-00       KINGS HWY 2021-05-02 08:00:00       14
948824   B024  R211  00-05-00       KINGS HWY 2021-05-02 04:00:00       14
948823   B024  R211  00-05-00       KINGS HWY 2021-05-02 00:00:00       14

* We have numerous cases of duplicate entries.
* Looks to be a incorrect AUD entry for column "DESC".  May be we should just select where DESC = Regular.

In [9]:
mta_df.DESC.value_counts()

REGULAR       39874207
RECOVR AUD      175186
Name: DESC, dtype: int64

* Let's get rid of all the duplicate entries.

In [10]:
mta_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
mta_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [11]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(mta_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2021-04-24 00:00:00        1
7416748  R141  R031  00-00-00  34 ST-PENN STA 2022-01-27 23:00:00        1
7416740  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 11:00:00        1
7416741  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 15:00:00        1
7416742  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 19:00:00        1

* Now assessing duplicates for Exits...

In [12]:
# verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(mta_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .EXITS.count()
 .reset_index().sort_values("EXITS", ascending=False)).head(20)

          C/A  UNIT       SCP         STATION           DATE_TIME  EXITS
0        A002  R051  02-00-00           59 ST 2021-04-24 00:00:00      1
7416748  R141  R031  00-00-00  34 ST-PENN STA 2022-01-27 23:00:00      1
7416740  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 11:00:00      1
7416741  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 15:00:00      1
7416742  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 19:00:00      1
7416743  R141  R031  00-00-00  34 ST-PENN STA 2022-01-26 23:00:00      1
7416744  R141  R031  00-00-00  34 ST-PENN STA 2022-01-27 03:00:00      1
7416745  R141  R031  00-00-00  34 ST-PENN STA 2022-01-27 07:00:00      1
7416746  R141  R031  00-00-00  34 ST-PENN STA 2022-01-27 11:00:00      1
7416747  R141  R031  00-00-00  34 ST-PENN STA 2022-01-27 15:00:00      1
7416749  R141  R031  00-00-00  34 ST-PENN STA 2022-01-28 03:00:00      1
7416717  R141  R031  00-00-00  34 ST-PENN STA 2022-01-22 15:00:00      1
7416750  R141  R031  00-00-00  34 ST-PENN STA 2022-01-28 07:00:00      1
7416751  R141  R031  00-00-00  34 ST-PENN STA 2022-01-28 11:00:00      1
7416752  R141  R031  00-00-00  34 ST-PENN STA 2022-01-28 15:00:00      1
7416753  R141  R031  00-00-00  34 ST-PENN STA 2022-01-28 19:00:00      1
7416754  R141  R031  00-00-00  34 ST-PENN STA 2022-01-28 23:00:00      1
7416755  R141  R031  00-00-00  34 ST-PENN STA 2022-01-29 03:00:00      1
7416756  R141  R031  00-00-00  34 ST-PENN STA 2022-01-29 07:00:00      1
7416757  R141  R031  00-00-00  34 ST-PENN STA 2022-01-29 11:00:00      1

No more duplicate Entries or Exits!!!

Let's clean up the data set and remove all columns we no longer need.

In [13]:
# Dropping Desc, Linename, and Division columns.
# To prevent errors in multiple run of cell, errors on drop is ignored
mta_df_clean = mta_df.drop(["DESC", "LINENAME", "DIVISION"], axis=1, errors="ignore")
mta_df_clean.head()

,C/A,UNIT,SCP,STATION,DATE,TIME,ENTRIES,EXITS,DATE_TIME
9441218,TRAM2,R469,00-05-01,RIT-ROOSEVELT,04/29/2022,21:00:00,0,217,2022-04-29 21:00:00
9441217,TRAM2,R469,00-05-01,RIT-ROOSEVELT,04/29/2022,17:00:00,0,215,2022-04-29 17:00:00
9441216,TRAM2,R469,00-05-01,RIT-ROOSEVELT,04/29/2022,13:00:00,0,215,2022-04-29 13:00:00
9441215,TRAM2,R469,00-05-01,RIT-ROOSEVELT,04/29/2022,09:00:00,0,215,2022-04-29 09:00:00
9441214,TRAM2,R469,00-05-01,RIT-ROOSEVELT,04/29/2022,05:00:00,0,214,2022-04-29 05:00:00

In [14]:
mta_df_clean.shape

(11125116, 9)

After cleaning dataset, we go from an original shape of <b>(40049393, 11)</b> to a current shape of <b>(11125116, 9)</b>. That's 28,924,277 ***LESS*** rows! This should hopefully improve processing speed.

Going to pickle this non-duplicate containing dataset for ease of future processing.

In [15]:
mta_df_clean.to_pickle("mta_df_clean.pkl")
#mta_df_clean = pd.read_pickle("mta_df_clean.pkl")

### Calculating daily entries

Using Metis MTA Exercises 1-3 to assist.

In looking at the data, each row of data is how many entries/exists at a 4 hour timeslot at each station for each day. The `ENTRIES` column represents **cumulative entries** at that point in time.

In [16]:
turnstiles_daily = (mta_df_clean.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())
turnstiles_daily.head(20)

     C/A  UNIT       SCP STATION        DATE  ENTRIES
0   A002  R051  02-00-00   59 ST  01/01/2022  7675936
1   A002  R051  02-00-00   59 ST  01/02/2022  7676054
2   A002  R051  02-00-00   59 ST  01/03/2022  7676298
3   A002  R051  02-00-00   59 ST  01/04/2022  7676554
4   A002  R051  02-00-00   59 ST  01/05/2022  7676817
5   A002  R051  02-00-00   59 ST  01/06/2022  7677090
6   A002  R051  02-00-00   59 ST  01/07/2022  7677343
7   A002  R051  02-00-00   59 ST  01/08/2022  7677516
8   A002  R051  02-00-00   59 ST  01/09/2022  7677647
9   A002  R051  02-00-00   59 ST  01/10/2022  7677895
10  A002  R051  02-00-00   59 ST  01/11/2022  7678162
11  A002  R051  02-00-00   59 ST  01/12/2022  7678437
12  A002  R051  02-00-00   59 ST  01/13/2022  7678716
13  A002  R051  02-00-00   59 ST  01/14/2022  7678998
14  A002  R051  02-00-00   59 ST  01/15/2022  7679135
15  A002  R051  02-00-00   59 ST  01/16/2022  7679247
16  A002  R051  02-00-00   59 ST  01/17/2022  7679401
17  A002  R051  02-00-00   59 ST  01/18/2022  7679733
18  A002  R051  02-00-00   59 ST  01/19/2022  7680023
19  A002  R051  02-00-00   59 ST  01/20/2022  7680288

Calculating **daily entries**, i.e. the number of new entries gained each day.

In [17]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .transform(lambda x: x.shift(1)))
# transform() takes a function as parameter
# shift moves the index by the number of periods given (positive or negative)

<ipython-input-17-7b8d2b8f5e46>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily

In [18]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  01/01/2022  7675936         NaN           NaN
1  A002  R051  02-00-00   59 ST  01/02/2022  7676054  01/01/2022     7675936.0
2  A002  R051  02-00-00   59 ST  01/03/2022  7676298  01/02/2022     7676054.0
3  A002  R051  02-00-00   59 ST  01/04/2022  7676554  01/03/2022     7676298.0
4  A002  R051  02-00-00   59 ST  01/05/2022  7676817  01/04/2022     7676554.0

In [19]:
#The first date does not have a previous date so we will want to drop that date.

# Drop the rows for first date
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)
# axis = 0 means index (=1 means column)

In [20]:
#Let's check that the number of entries for today is higher than entries for yesterday

turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
113,A002,R051,02-00-00,59 ST,04/24/2021,7561578,04/23/2022,7703881.0
115,A002,R051,02-00-00,59 ST,04/25/2021,7561843,04/24/2022,7704022.0
117,A002,R051,02-00-00,59 ST,04/26/2021,7562300,04/25/2022,7704364.0
119,A002,R051,02-00-00,59 ST,04/27/2021,7562873,04/26/2022,7704764.0
121,A002,R051,02-00-00,59 ST,04/28/2021,7563448,04/27/2022,7705198.0

In [21]:
#Let's see how many stations have this problem and how often.

(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size()) # size() behaves same as if we'd done .DATE.count()

C/A    UNIT  SCP       STATION
A002   R051  02-00-00  59 ST            7
             02-00-01  59 ST            7
             02-03-00  59 ST            7
             02-03-01  59 ST            7
             02-03-02  59 ST            7
                                       ..
TRAM2  R469  00-00-01  RIT-ROOSEVELT    7
             00-03-00  RIT-ROOSEVELT    7
             00-03-01  RIT-ROOSEVELT    7
             00-05-00  RIT-ROOSEVELT    8
             00-05-01  RIT-ROOSEVELT    7
Length: 4810, dtype: int64

In [22]:
#Let's clean these up.
#If the entries are smaller the day before let's make the sum positive. In order to avoid outliers let's cap the total daily count
#for daily entries to be 1,000,000 people.

def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1 million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000) 

# apply takes a function as parameter and applies it along the given axis (1=apply by row) 
# apply takes care of passing each row to the function

1390089 148715.0
149117 1390089.0
1390113 149117.0
149568 1390113.0
1390141 149568.0
150123 1390141.0
1390167 150123.0
150717 1390167.0
1390171 150717.0
151298 1390171.0
1390173 151298.0
151845 1390173.0
1390173 151845.0
3082 1390173.0
5259320 54958.0
55150 5259320.0
5259443 55150.0
55421 5259443.0
5259630 55421.0
55731 5259630.0
5259832 55731.0
56066 5259832.0
5260017 56066.0
56397 5260017.0
5260206 56397.0
56718 5260206.0
5260410 56718.0
50 5264647.0
4336963 69410.0
69713 4336963.0
4337109 69713.0
70120 4337109.0
4337292 70120.0
70601 4337292.0
4337481 70601.0
71103 4337481.0
4337671 71103.0
71607 4337671.0
4337856 71607.0
72135 4337856.0
4338048 72135.0
18 4340953.0
846 7354911.0
7007307 121440.0
122296 7007307.0
7007948 122296.0
123760 7007948.0
7008928 123760.0
125401 7008928.0
7009952 125401.0
127144 7009952.0
7011164 127144.0
128873 7011164.0
7012295 128873.0
130495 7012295.0
7013487 130495.0
5564568 15719.0
15775 5564568.0
5564643 15775.0
15905 5564643.0
5564769 15905.0
16082 5564769.0
5564927 16082.0
16310 5564927.0
5565079 16310.0
16551 5565079.0
5565204 16551.0
16759 5565204.0
5565334 16759.0
6 5597786.0
1939849 27467.0
27536 1939849.0
1940002 27536.0
27812 1940002.0
1940208 27812.0
28078 1940208.0
1940416 28078.0
28409 1940416.0
1940644 28409.0
28689 1940644.0
1940861 28689.0
28920 1940861.0
1941110 28920.0
233 1951349.0
14 1028362.0
14 9950892.0
550698591 14.0
9732284 550668468.0
550668009 9732284.0
9732670 550668009.0
550667156 9732670.0
9733396 550667156.0
550666292 9733396.0
9734151 550666292.0
550665333 9734151.0
9734925 550665333.0
550664414 9734925.0
9736577 550664414.0
550663555 9736577.0
9737815 550663555.0
756262099 218112.0
218447 756262099.0
756262441 218447.0
219249 756262441.0
756263139 219249.0
220050 756263139.0
756263906 220050.0
220870 756263906.0
756264666 220870.0
221698 756264666.0
756265372 221698.0
222432 756265372.0
756266080 222432.0
327680 756269765.0
7974049 259880.0
260471 7974049.0
7974543 260471.0
261556 7974543.0
7975434 261556.0
262798 7975434.0
7976391 262798.0
263969 7976391.0
7977441 263969.0
265227 7977441.0
7978266 265227.0
266304 7978266.0
7979198 266304.0
353 8049630.0
5309746 778.0
782 5309746.0
5309746 782.0
786 5309746.0
5309746 786.0
793 5309746.0
5309746 793.0
793 5309746.0
5309746 793.0
793 5309746.0
5309746 793.0
793 5309746.0
5309746 793.0
0 5309746.0
327680 67108864.0
67108864 327680.0
327680 67108864.0
67108864 327680.0
327680 67108864.0
67108864 327680.0
327680 67108864.0
67108864 327680.0
327680 67108864.0
67108864 327680.0
327680 67108864.0
67108864 327680.0
327680 67108864.0
67108864 327680.0
1409966 46721.0
46874 1409966.0
1410080 46874.0
47190 1410080.0
1410315 47190.0
47516 1410315.0
1410550 47516.0
47848 1410550.0
1410816 47848.0
48189 1410816.0
1411102 48189.0
48497 1411102.0
1411338 48497.0
128 1458351.0
2649906 66267.0
66422 2649906.0
2649984 66422.0
66571 2649984.0
2650086 66571.0
66700 2650086.0
2650192 66700.0
66861 2650192.0
2650353 66861.0
66998 2650353.0
2650430 66998.0
67170 2650430.0
2650520 67170.0
101 2651127.0
11 3622304.0
3565097 9129.0
9324 3565097.0
3565199 9324.0
9507 3565199.0
3565333 9507.0
9692 3565333.0
3565505 9692.0
9867 3565505.0
3565677 9867.0
10036 3565677.0
3565800 10036.0
10211 3565800.0
3565937 10211.0
453046584 6159.0
6200 453046584.0
453046593 6200.0
6228 453046593.0
453046616 6228.0
6257 453046616.0
453046660 6257.0
6305 453046660.0
453046700 6305.0
6329 453046700.0
453046731 6329.0
6379 453046731.0
453046757 6379.0
24 453053819.0
41 1562955740.0
1562967890 113672.0
180 2900739.0
2843550 11091.0
11192 2843550.0
2843641 11192.0
11389 2843641.0
2843799 11389.0
11582 2843799.0
2843975 11582.0
11762 2843975.0
2844183 11762.0
11995 2844183.0
2844350 11995.0
12202 2844350.0
2844499 12202.0
668385 167858395.0
167858608 668385.0
668584 167858608.0
167858892 668584.0
668839 167858892.0
167859193 668839.0
669119 167859193.0
167859511 669119.0
669410 167859511.0
167859836 669410.0
669674 167859836.0
167860102 669674.0
669840 167860102.0
167790157 702266.0
9536763 49803.0
49932 9536763.0
9537099 49932.0
50126 9537099.0
9537620 50126.0
50407 9537620.0
9538177 50407.0
50669 9538177.0
9538770 50669.0
50948 9538770.0
9539384 50948.0
51207 9539384.0
9540018 51207.0
63 9631506.0
5440664 256998.0
257685 5440664.0
5441219 257685.0
258864 5441219.0
5442436 258864.0
260194 5442436.0
5443745 260194.0
261645 5443745.0
5445110 261645.0
263143 5445110.0
5446384 263143.0
264519 5446384.0
5447748 264519.0
310 5609562.0
9625230 222479.0
223051 9625230.0
9625830 223051.0
224122 9625830.0
9626834 224122.0
225354 9626834.0
9627974 225354.0
226523 9627974.0
9629123 226523.0
227739 9629123.0
9630234 227739.0
228979 9630234.0
9631401 228979.0
35 9768753.0
3178852 99619.0
100012 3178852.0
3179236 100012.0
100627 3179236.0
3179839 100627.0
101217 3179839.0
3180501 101217.0
101596 3180501.0
3181125 101596.0
102301 3181125.0
3181753 102301.0
102980 3181753.0
3182378 102980.0
307 3295646.0
78748 33747825.0
33748254 78748.0
79153 33748254.0
33749271 79153.0
80041 33749271.0
33750304 80041.0
81044 33750304.0
33751335 81044.0
81994 33751335.0
33752370 81994.0
83022 33752370.0
33753380 83022.0
84003 33753380.0
33565227 188178.0
8682747 88222.0
88419 8682747.0
8682908 88419.0
88893 8682908.0
8683269 88893.0
89400 8683269.0
8683694 89400.0
89857 8683694.0
8684121 89857.0
90327 8684121.0
8684520 90327.0
90777 8684520.0
8684958 90777.0
48 8724126.0
1560335720 130.0
130 1560335720.0
1560335720 130.0
130 1560335720.0
1560335720 130.0
130 1560335720.0
1560335720 130.0
130 1560335720.0
1560335721 130.0
130 1560335721.0
1560335721 130.0
130 1560335721.0
1560335721 130.0
327710 1560335855.0
999 2121718.0
2071703 8123.0
8200 2071703.0
2071796 8200.0
8399 2071796.0
2071985 8399.0
8571 2071985.0
2072194 8571.0
8736 2072194.0
2072425 8736.0
8948 2072425.0
2072741 8948.0
9154 2072741.0
2073016 9154.0
459272 117454785.0
117454790 459272.0
459272 117454790.0
117454797 459272.0
459273 117454797.0
117454816 459273.0
459273 117454816.0
117454831 459273.0
459273 117454831.0
117454848 459273.0
459273 117454848.0
117454854 459273.0
459273 117454854.0
117453575 459314.0
18 3979299.0
3922842 1887.0
1975 3922842.0
3922917 1975.0
2198 3922917.0
3923076 2198.0
2380 3923076.0
3923241 2380.0
2615 3923241.0
3923399 2615.0
2840 3923399.0
3923554 2840.0
3061 3923554.0
3923696 3061.0
150995128 393856.0
393862 150995128.0
150995128 393862.0
393869 150995128.0
150995128 393869.0
393880 150995128.0
150995128 393880.0
393892 150995128.0
150995129 393892.0
393902 150995129.0
150995129 393902.0
393913 150995129.0
150995129 393913.0
393217 150995430.0
2626905 48217.0
48323 2626905.0
2626974 48323.0
48488 2626974.0
2627093 48488.0
48632 2627093.0
2627224 48632.0
48799 2627224.0
2627349 48799.0
48953 2627349.0
2627477 48953.0
49151 2627477.0
2627614 49151.0
24 2627860.0
3174423 221015.0
221732 3174423.0
3174887 221732.0
222925 3174887.0
3175568 222925.0
224184 3175568.0
3176369 224184.0
225468 3176369.0
3177241 225468.0
226734 3177241.0
3178043 226734.0
227946 3178043.0
3178856 227946.0
511 3272795.0
2423780 92223.0
92729 2423780.0
2424061 92729.0
93512 2424061.0
2424582 93512.0
94314 2424582.0
2425140 94314.0
95083 2425140.0
2425743 95083.0
95890 2425743.0
2426299 95890.0
96705 2426299.0
2426888 96705.0
85 2547887.0
552542719 195953.0
76987 552551461.0
552551600 76987.0
77112 552551600.0
552552064 77112.0
77509 552552064.0
552552597 77509.0
77919 552552597.0
552553085 77919.0
78343 552553085.0
552553615 78343.0
78752 552553615.0
552554076 78752.0
79126 552554076.0
186 4211788.0
4123453 32105.0
32405 4123453.0
4123610 32405.0
32808 4123610.0
4123893 32808.0
33208 4123893.0
4124178 33208.0
33620 4124178.0
4124495 33620.0
34033 4124495.0
4124792 34033.0
34423 4124792.0
4125045 34423.0
165 17384886.0
17175328 1812.0
2441 17175328.0
17175551 2441.0
2992 17175551.0
17175917 2992.0
3681 17175917.0
17176277 3681.0
4429 17176277.0
17176654 4429.0
5214 17176654.0
17176999 5214.0
5984 17176999.0
17177400 5984.0
1574378 177999.0
178269 1574378.0
1574558 178269.0
178988 1574558.0
1575098 178988.0
179798 1575098.0
1575644 179798.0
180632 1575644.0
1576433 180632.0
181443 1576433.0
1577177 181443.0
182157 1577177.0
1577749 182157.0
153 1604971.0
4262857 110018.0
110308 4262857.0
4263020 110308.0
110914 4263020.0
4263473 110914.0
111560 4263473.0
4263929 111560.0
112211 4263929.0
4264654 112211.0
112860 4264654.0
4265208 112860.0
113458 4265208.0
4265677 113458.0
5946 4298704.0

117440512 0.0
0 117440512.0
117440512 0.0
0 117440512.0
117440512 0.0
0 117440512.0
117440512 0.0
0 117440512.0
117440512 0.0
0 117440512.0
117440512 0.0
0 117440512.0
117440512 0.0
0 117440512.0
8875379 231485.0
231883 8875379.0
8875656 231883.0
232435 8875656.0
8876178 232435.0
233108 8876178.0
8876753 233108.0
233869 8876753.0
8877363 233869.0
234570 8877363.0
8877446 234570.0
235216 8877446.0
8877446 235216.0
135 8882903.0
4454729 213356.0
213714 4454729.0
7643335 251896.0
252341 7643335.0
176807 67261528.0
67262042 176807.0
177119 67262042.0
67262955 177119.0
177638 67262955.0
67264003 177638.0
178195 67264003.0
67265082 178195.0
178784 67265082.0
67266169 178784.0
179372 67266169.0
67267088 179372.0
179989 67267088.0
67136025 290390.0
119 5962569.0
5762840 69894.0
70414 5762840.0
5763167 70414.0
71292 5763167.0
5763687 71292.0
72175 5763687.0
5764267 72175.0
73233 5764267.0
5764926 73233.0
74297 5764926.0
5765530 74297.0
75311 5765530.0
5766118 75311.0
8928912 1979503446.0
1979502882 8928912.0
8929232 1979502882.0
1979501979 8929232.0
8929761 1979501979.0
1979500953 8929761.0
8930238 1979500953.0
1979499859 8930238.0
8930596 1979499859.0
1979498766 8930596.0
8931096 1979498766.0
1979497800 8931096.0
8931688 1979497800.0
1979658580 9048026.0
2244007 587356645.0
587357202 2244007.0
2244305 587357202.0
587358031 2244305.0
2244827 587358031.0
587358958 2244827.0
2245337 587358958.0
587359937 2245337.0
2245923 587359937.0
587360957 2245923.0
2246450 587360957.0
587361904 2246450.0
2247033 587361904.0
587209538 2350346.0
2596670 688095508.0
688095956 2596670.0
2596958 688095956.0
688096959 2596958.0
2597553 688096959.0
688098095 2597553.0
2597876 688098095.0
688099441 2597876.0
2598584 688099441.0
688100523 2598584.0
2599205 688100523.0
688101259 2599205.0
2599835 688101259.0
687930029 2704968.0
864279 1979303.0
1388163 369216286.0
369216559 1388163.0
1388366 369216559.0
369217150 1388366.0
1388728 369217150.0
369217825 1388728.0
1389148 369217825.0
369218488 1389148.0
1389550 369218488.0
369219158 1389550.0
1389929 369219158.0
369219729 1389929.0
1390355 369219729.0
369104686 1458906.0
85933 2136426.0
2136873 85933.0
86274 2136873.0
2137750 86274.0
86983 2137750.0
2138726 86983.0
87781 2138726.0
2139647 87781.0
88578 2139647.0
2140616 88578.0
89372 2140616.0
2141570 89372.0
90187 2141570.0
1966428 196464.0
7526575 84069308.0
84069708 7526575.0
7526821 84069708.0
84070462 7526821.0
7527359 84070462.0
84071213 7527359.0
7527950 84071213.0
84071974 7527950.0
7528524 84071974.0
84072746 7528524.0
7529100 84072746.0
84073536 7529100.0
7529728 84073536.0
327975 7577027.0
83942360 378941.0
314 4224262.0
3971252 31554.0
32052 3971252.0
3971688 32052.0
32937 3971688.0
3972404 32937.0
33918 3972404.0
3973157 33918.0
34883 3973157.0
3974137 34883.0
35881 3974137.0
3975077 35881.0
36839 3975077.0
3975925 36839.0
6019875 30880.0
31107 6019875.0
6020130 31107.0
31622 6020130.0
6020547 31622.0
32125 6020547.0
6020982 32125.0
32637 6020982.0
6021422 32637.0
33154 6021422.0
6021842 33154.0
33665 6021842.0
6022310 33665.0
264 6114636.0
7297008 65305.0
65544 7297008.0
7297271 65544.0
66059 7297271.0
7297718 66059.0
66601 7297718.0
7298176 66601.0
67176 7298176.0
7298644 67176.0
67772 7298644.0
7299062 67772.0
68420 7299062.0
7299538 68420.0
233 7403550.0
136 1511367.0
1511367 136.0
136 1511367.0
1511367 136.0
136 1511367.0
1511367 136.0
136 1511367.0
1511367 136.0
136 1511367.0
1511367 136.0
136 1511367.0
1511367 136.0
136 1511367.0
1511306 154.0
9206989 119516.0
120316 9206989.0
9207261 120316.0
121065 9207261.0
9207886 121065.0
121890 9207886.0
9208594 121890.0
122648 9208594.0
9209255 122648.0
123394 9209255.0
9209953 123394.0
124153 9209953.0
9210662 124153.0
168 9321838.0
4777681 167954.0
168402 4777681.0
4777846 168402.0
169039 4777846.0
4778363 169039.0
169698 4778363.0
4778844 169698.0
170280 4778844.0
4779410 170280.0
170886 4779410.0
4779629 170886.0
171500 4779629.0
4780002 171500.0
217 4780275.0
14 5618934.0
5614228 102.0
106 5614228.0
5614232 106.0
119 5614232.0
5614243 119.0
133 5614243.0
5614250 133.0
153 5614250.0
5614258 153.0
170 5614258.0
5614263 170.0
196 5614263.0
5614273 196.0
1534984195 327880.0
327880 1534984195.0
1534984195 327880.0
327882 1534984195.0
1534984197 327882.0
327883 1534984197.0
67109632 14.0
327682 67109640.0
67109632 1.0
15 67109632.0
405449 100709396.0
100709400 405449.0
405464 100709400.0
100709438 405464.0
405496 100709438.0
100709484 405496.0
405538 100709484.0
100709534 405538.0
405587 100709534.0
100709585 405587.0
405620 100709585.0
100709646 405620.0
405646 100709646.0
100704922 418210.0
12517611 82.0
116 12553622.0
1190172 17635.0
17660 1190172.0
1190212 17660.0
17763 1190212.0
1190299 17763.0
17876 1190299.0
1190384 17876.0
18028 1190384.0
1190486 18028.0
18156 1190486.0
1190579 18156.0
18262 1190579.0
1190682 18262.0
36 1198448.0
557759426 205035.0
205907 557759426.0
557759934 205907.0
207005 557759934.0
557760875 207005.0
208053 557760875.0
557761828 208053.0
209362 557761828.0
557762799 209362.0
210952 557762799.0
557763715 210952.0
212058 557763715.0
557764694 212058.0
263 557914756.0
5333982 214937.0
215442 5333982.0
5334357 215442.0
216383 5334357.0
5335217 216383.0
217398 5335217.0
5336046 217398.0
218420 5336046.0
5336923 218420.0
219461 5336923.0
5337741 219461.0
220334 5337741.0
5338656 220334.0
46 5405351.0
19420367 688374838.0
688375644 19420367.0
19421002 688375644.0
688377059 19421002.0
19422258 688377059.0
688378560 19422258.0
19423591 688378560.0
688380132 19423591.0
19425015 688380132.0
688381650 19425015.0
19426274 688381650.0
688383194 19426274.0
19427675 688383194.0
687970551 19471253.0
705332061 67874.0
67960 705332061.0
705332204 67960.0
68215 705332204.0
705332418 68215.0
68527 705332418.0
705332780 68527.0
68858 705332780.0
705332978 68858.0
69209 705332978.0
705333196 69209.0
69527 705333196.0
705333414 69527.0
200 705357551.0
20 2645432.0
2567966 28872.0
29058 2567966.0
2568156 29058.0
29411 2568156.0
2568515 29411.0
29728 2568515.0
2568900 29728.0
30075 2568900.0
2569276 30075.0
30432 2569276.0
2569624 30432.0
30789 2569624.0
2569964 30789.0
465795 101283479.0
101283534 465795.0
465796 101283534.0
101283785 465796.0
465800 101283785.0
101284017 465800.0
465805 101284017.0
101284291 465805.0
465813 101284291.0
101284523 465813.0
465817 101284523.0
101284790 465817.0
465821 101284790.0
101246809 466360.0
7609728 46172918.0
46173667 7609728.0
7610390 46173667.0
46174963 7610390.0
7611394 46174963.0
46176139 7611394.0
7612373 46176139.0
46177310 7612373.0
7613385 46177310.0
46178473 7613385.0
7614343 46178473.0
46179718 7614343.0
7615371 46179718.0
46007131 7828674.0
7432008 866511.0
867696 7432008.0
7432717 867696.0
869371 7432717.0
7433897 869371.0
871015 7433897.0
7435438 871015.0
872648 7435438.0
7437350 872648.0
874346 7437350.0
7439200 874346.0
876142 7439200.0
7440619 876142.0
1076 7489966.0
1035813 16783259.0
16783260 1035813.0
1035828 16783260.0
16783279 1035828.0
1035842 16783279.0
16783295 1035842.0
1035870 16783295.0
16783309 1035870.0
1035897 16783309.0
16783334 1035897.0
1035915 16783334.0
16783354 1035915.0
1035930 16783354.0
16777220 1037157.0
6092613 343650.0
344087 6092613.0
6093048 344087.0
345090 6093048.0
6093932 345090.0
346088 6093932.0
6094890 346088.0
347106 6094890.0
6095863 347106.0
348102 6095863.0
6096723 348102.0
349073 6096723.0
6097622 349073.0
463 6101664.0
16758627 44534.0
1105368 16733483.0
16733236 1105368.0
1105591 16733236.0
16732644 1105591.0
1106087 16732644.0
16732093 1106087.0
1106554 16732093.0
16731534 1106554.0
1107061 16731534.0
16730923 1107061.0
1107516 16730923.0
16730459 1107516.0
1107955 16730459.0
162 1110928.0
15955741 238252.0
238678 15955741.0
15956090 238678.0
239937 15956090.0
15957040 239937.0
241220 15957040.0
15958030 241220.0
242538 15958030.0
15959110 242538.0
243863 15959110.0
15960240 243863.0
245119 15960240.0
15961358 245119.0
6 16034831.0
2516376 209821.0
210599 2516376.0
2517091 210599.0
212417 2517091.0
2518636 212417.0
214274 2518636.0
2520222 214274.0
216212 2520222.0
2521882 216212.0
218138 2521882.0
2521932 218138.0
219974 2521932.0
2521932 219974.0
327 2524852.0
636 5808834.0
5486558 71825.0
72299 5486558.0
5486931 72299.0
73759 5486931.0
5488001 73759.0
75318 5488001.0
5489129 75318.0
76862 5489129.0
5490286 76862.0
78415 5490286.0
5491810 78415.0
79858 5491810.0
5493270 79858.0
327781 84486640.0
84411652 328767.0
328888 84411652.0
84411924 328888.0
329206 84411924.0
84412581 329206.0
329505 84412581.0
84413173 329505.0
329826 84413173.0
84413448 329826.0
330128 84413448.0
84413673 330128.0
330421 84413673.0
84413902 330421.0

5 1940653.0
1913246 13268.0
13308 1913246.0
1913279 13308.0
13453 1913279.0
1913392 13453.0
13603 1913392.0
1913491 13603.0
13754 1913491.0
1913588 13754.0
13905 1913588.0
1913701 13905.0
14039 1913701.0
1913793 14039.0
2392699 495174.0
495231 2392699.0
2392756 495231.0
495404 2392756.0
2392912 495404.0
495572 2392912.0
2393040 495572.0
495730 2393040.0
2393180 495730.0
495883 2393180.0
2393328 495883.0
496048 2393328.0
67436550 375578.0
240 67470015.0
4068273 60894.0
60977 4068273.0
4068302 60977.0
61140 4068302.0
4068402 61140.0
61314 4068402.0
4068502 61314.0
61503 4068502.0
4068623 61503.0
61713 4068623.0
4068738 61713.0
61901 4068738.0
4068844 61901.0
143 4070964.0
58296876 123832.0
124027 58296876.0
58296961 124027.0
124425 58296961.0
58297212 124425.0
124844 58297212.0
58297482 124844.0
125305 58297482.0
58297779 125305.0
125753 58297779.0
58298077 125753.0
126183 58298077.0
58298356 126183.0
5 58304715.0
1043926553 2368212.0
2151581 1043925813.0
301 1191891.0
6169566 117164.0
117412 6169566.0
6169705 117412.0
117999 6169705.0
6170119 117999.0
118587 6170119.0
6170586 118587.0
119211 6170586.0
6171026 119211.0
119878 6171026.0
6171502 119878.0
120449 6171502.0
6171982 120449.0
386 6213955.0
1934744 40594.0
40747 1934744.0
1934809 40747.0
40898 1934809.0
1934906 40898.0
41072 1934906.0
1934995 41072.0
41247 1934995.0
1935104 41247.0
41422 1935104.0
1935209 41422.0
41628 1935209.0
1935321 41628.0
37 1950780.0
147 1132786.0
15625282 156047.0
156572 15625282.0
15625685 156572.0
157277 15625685.0
15626238 157277.0
158056 15626238.0
15626757 158056.0
158824 15626757.0
15627327 158824.0
159580 15627327.0
15627882 159580.0
160371 15627882.0
15628431 160371.0
443 15689395.0
3626185 430222.0
430434 3626185.0
3626318 430434.0
430766 3626318.0
3626533 430766.0
431138 3626533.0
3626672 431138.0
431512 3626672.0
3626971 431512.0
431855 3626971.0
3627174 431855.0
432200 3627174.0
3627384 432200.0
393355 3680668.0
988 7582674.0
7177690 33205.0
33856 7177690.0
7178288 33856.0
35302 7178288.0
7179433 35302.0
36812 7179433.0
7180651 36812.0
38332 7180651.0
7181844 38332.0
39908 7181844.0
7183091 39908.0
41309 7183091.0
7184316 41309.0
4410107 2067563.0
2067623 4410107.0
4410107 2067623.0
2067890 4410107.0
4410302 2067890.0
2068121 4410302.0
4410495 2068121.0
2068361 4410495.0
4410670 2068361.0
2068594 4410670.0
4410853 2068594.0
2068864 4410853.0
4411048 2068864.0
2031760 4435692.0
306313 134457675.0
134427381 311638.0
311686 134427381.0
134427381 311686.0
311856 134427381.0
134427548 311856.0
312029 134427548.0
134427708 312029.0
312185 134427708.0
134427886 312185.0
312359 134427886.0
134428057 312359.0
312529 134428057.0
134428198 312529.0
365 1410790.0
1411348 365.0
982 1411348.0
1411896 982.0
2329514 265801.0
266236 2329514.0
2329833 266236.0
267162 2329833.0
2330083 267162.0
268123 2330083.0
2330751 268123.0
269103 2330751.0
2331511 269103.0
270127 2331511.0
2332219 270127.0
271060 2332219.0
2332939 271060.0
528 2341721.0
442 3433215.0
3298565 62516.0
62991 3298565.0
3298790 62991.0
63621 3298790.0
3299205 63621.0
64257 3299205.0
3299614 64257.0
64980 3299614.0
3300043 64980.0
65697 3300043.0
3300455 65697.0
66432 3300455.0
3300877 66432.0
2269243 1636633912.0
1636634334 2269243.0
2269517 1636634334.0
1636635388 2269517.0
2270275 1636635388.0
1636636562 2270275.0
2271090 1636636562.0
1636637854 2271090.0
2271962 1636637854.0
1636638929 2271962.0
2272849 1636638929.0
1636639754 2272849.0
2273623 1636639754.0
1636500577 2450105.0
2222937 768465.0
768834 2222937.0
2223208 768834.0
769579 2223208.0
2223860 769579.0
770546 2223860.0
2224576 770546.0
771531 2224576.0
2225279 771531.0
772474 2225279.0
2225998 772474.0
773524 2225998.0
2226695 773524.0
643259 2359165.0
1784760 992294540.0
992294742 1784760.0
1784966 992294742.0
992295337 1784966.0
1785448 992295337.0
992296057 1785448.0
1785943 992296057.0
992296789 1785943.0
1786513 992296789.0
992297520 1786513.0
1787052 992297520.0
992298221 1787052.0
1787583 992298221.0
992215840 1896551.0
2711809 262308.0
262888 2711809.0
2712259 262888.0
264456 2712259.0
2713751 264456.0
266177 2713751.0
2715435 266177.0
267880 2715435.0
2717082 267880.0
269683 2717082.0
2718717 269683.0
271285 2718717.0
2720411 271285.0
1084 2958634.0
33030209 5570.0
5602 33030209.0
33030211 5602.0
5650 33030211.0
33030213 5650.0
5704 33030213.0
33030215 5704.0
5765 33030215.0
33030219 5765.0
5810 33030219.0
33030222 5810.0
5850 33030222.0
33030224 5850.0
2 33030303.0
11132292 54245.0
54460 11132292.0
11132480 54460.0
54871 11132480.0
11132725 54871.0
55275 11132725.0
11133013 55275.0
55746 11133013.0
11133303 55746.0
56151 11133303.0
11133580 56151.0
56507 11133580.0
11133852 56507.0
278 11194856.0
8260789 30724.0
30868 8260789.0
8260881 30868.0
31056 8260881.0
8261049 31056.0
31285 8261049.0
8261250 31285.0
31533 8261250.0
8261457 31533.0
31774 8261457.0
8261660 31774.0
31981 8261660.0
8261841 31981.0
102 8302369.0
1602486 12154.0
12154 1602486.0
1602486 12154.0
12345 1602486.0
1602597 12345.0
12563 1602597.0
1602708 12563.0
12776 1602708.0
1602822 12776.0
12921 1602822.0
1602922 12921.0
13066 1602922.0
1603016 13066.0
131 1617704.0
2784037 49744.0
49744 2784037.0
2784037 49744.0
50118 2784037.0
2784289 50118.0
50504 2784289.0
2784549 50504.0
50925 2784549.0
2784795 50925.0
51287 2784795.0
2785099 51287.0
51579 2785099.0
2785325 51579.0
241 2818347.0
1248093 19478.0
19478 1248093.0
1248093 19478.0
19610 1248093.0
1248179 19610.0
19764 1248179.0
1248262 19764.0
19901 1248262.0
1248347 19901.0
20053 1248347.0
1248435 20053.0
20171 1248435.0
1248494 20171.0
8 1255797.0
251 21129314.0
20747299 43815.0
44513 20747299.0
20747774 44513.0
45587 20747774.0
20748521 45587.0
45657 20748521.0
20749215 45657.0
11123659 172965.0
5 11123659.0
3150495 58175.0
256 3153907.0
5194183 142905.0
143295 5194183.0
5194289 143295.0
143875 5194289.0
5194456 143875.0
144506 5194456.0
5194655 144506.0
145233 5194655.0
5194875 145233.0
145927 5194875.0
5195092 145927.0
146570 5195092.0
5195330 146570.0
95 5198958.0
3725 2076799.0
1945569 6029.0
6338 1945569.0
1945634 6338.0
6812 1945634.0
1945898 6812.0
7397 1945898.0
1946155 7397.0
8057 1946155.0
1946423 8057.0
8656 1946423.0
1946662 8656.0
9260 1946662.0
1946912 9260.0
10583352 62732.0
62988 10583352.0
10583395 62988.0
63481 10583395.0
10583680 63481.0
64136 10583680.0
10583978 64136.0
64872 10583978.0
10584264 64872.0
65542 10584264.0
10584549 65542.0
66193 10584549.0
10584816 66193.0
305 10685559.0
350 2397667.0
2177471 28155.0
28696 2177471.0
2177581 28696.0
29394 2177581.0
2178071 29394.0
30230 2178071.0
2178635 30230.0
31137 2178635.0
2179192 31137.0
32069 2179192.0
2179771 32069.0
32931 2179771.0
2180364 32931.0
3058048 163859.0
164068 3058048.0
3058131 164068.0
164732 3058131.0
3058590 164732.0
165487 3058590.0
3059067 165487.0
166268 3059067.0
3059541 166268.0
167021 3059541.0
3060003 167021.0
167736 3060003.0
3060482 167736.0
126 3102523.0
479 2506257.0
2301711 113812.0
114542 2301711.0
2302065 114542.0
115719 2302065.0
2302775 115719.0
116957 2302775.0
2303491 116957.0
118343 2303491.0
2304247 118343.0
119636 2304247.0
2305057 119636.0
120819 2305057.0
2305897 120819.0
144 12399673.0
12400740 144.0
1452 12400740.0
12401830 1452.0
2789 12401830.0
12402890 2789.0
4045 12402890.0
12404003 4045.0
3415388 101567.0
101698 3415388.0
3415627 101698.0
102258 3415627.0
3416093 102258.0
102854 3416093.0
3416556 102854.0
103481 3416556.0
3417050 103481.0
104171 3417050.0
3417497 104171.0
104739 3417497.0
3417988 104739.0
553 3506117.0
135348726 429297.0
429523 135348726.0
135348926 429523.0
429801 135348926.0
135349230 429801.0
430110 135349230.0
135349505 430110.0
430441 135349505.0
135349780 430441.0
430746 135349780.0
135350032 430746.0
431073 135350032.0
135350297 431073.0
393225 135403962.0
262144 50331648.0
50331648 262144.0
262144 50331648.0
50331648 262144.0
262144 50331648.0
50331648 262144.0
262144 50331648.0
50331648 262144.0
262144 50331648.0
50331648 262144.0
262144 50331648.0
50331648 262144.0
262144 50331648.0
50331648 262144.0
22 1289819897.0
1289818171 1525.0
1545 1289818171.0
1289818171 1545.0
1586 1289818171.0
1289818171 1586.0
1626 1289818171.0
1289818171 1626.0
1658 1289818171.0
1289818171 1658.0
1709 1289818171.0
1289818172 1709.0
1749 1289818172.0
1289818172 1749.0
2548047 50553.0
50699 2548047.0
2548047 50699.0
50987 2548047.0
2548173 50987.0
51235 2548173.0
2548321 51235.0
51546 2548321.0
2548474 51546.0
51827 2548474.0
2548629 51827.0
52082 2548629.0
2548767 52082.0
19 2570919.0
251718 50362945.0
50362945 251718.0
251718 50362945.0
50362945 251718.0
251718 50362945.0
50362945 251718.0
251718 50362945.0
50362945 251718.0
251718 50362945.0
50362952 251718.0
251718 50362952.0
50362958 251718.0
251725 50362958.0
50362839 251769.0

1048912 9753966.0
9663741 1078127.0
1078196 9663741.0
9663789 1078196.0
1078670 9663789.0
9664056 1078670.0
1079166 9664056.0
9664392 1079166.0
1079675 9664392.0
9664733 1079675.0
1080198 9664733.0
9665073 1080198.0
1080664 9665073.0
9665385 1080664.0
85 3970147.0
3746869 34973.0
35497 3746869.0
3747619 35497.0
36260 3747619.0
3748671 36260.0
37032 3748671.0
3749713 37032.0
37741 3749713.0
3750328 37741.0
38512 3750328.0
3750882 38512.0
39216 3750882.0
3751552 39216.0
44 1189272.0
1164806 1879.0
1879 1164806.0
1164850 1879.0
1939 1164850.0
1164925 1939.0
2004 1164925.0
1164991 2004.0
2109 1164991.0
1165060 2109.0
2187 1165060.0
1165109 2187.0
2264 1165109.0
1165189 2264.0
2318641 71703.0
71703 2318641.0
2318738 71703.0
71917 2318738.0
2318858 71917.0
72202 2318858.0
2318943 72202.0
72480 2318943.0
2319095 72480.0
72749 2319095.0
2319210 72749.0
73039 2319210.0
2319361 73039.0
77 2320032.0
1840496 375158.0
376163 1840496.0
1841157 376163.0
377559 1841157.0
1842309 377559.0
379194 1842309.0
1843578 379194.0
380837 1843578.0
1844846 380837.0
382516 1844846.0
1846090 382516.0
384080 1846090.0
1847404 384080.0
114 1953264.0
17364026 133623.0
134261 17364026.0
17364612 134261.0
135591 17364612.0
17365717 135591.0
137175 17365717.0
17366914 137175.0
138841 17366914.0
17368143 138841.0
140413 17368143.0
17369211 140413.0
142006 17369211.0
17370475 142006.0
461 17674906.0
16886 4289351.0
4289351 16886.0
16924 4289351.0
4289437 16924.0
17032 4289437.0
4289556 17032.0
17148 4289556.0
4289733 17148.0
17261 4289733.0
4289829 17261.0
17357 4289829.0
4289971 17357.0
17474 4289971.0
4278402 25672.0
4745659 145446.0
145703 4745659.0
4745888 145703.0
146253 4745888.0
4746421 146253.0
147117 4746421.0
4747014 147117.0
147768 4747014.0
4747611 147768.0
148322 4747611.0
4748153 148322.0
148885 4748153.0
4748692 148885.0
169 4788322.0
1996226557 478671.0
104088650 1996182815.0
1996182815 104088650.0
104088871 1996182815.0
1996182318 104088871.0
104089413 1996182318.0
1996181740 104089413.0
104089960 1996181740.0
1996181225 104089960.0
104090603 1996181225.0
1996180641 104090603.0
104091616 1996180641.0
1996180078 104091616.0
104092407 1996180078.0
393362 104110933.0
203 2037287.0
1930110 44570.0
44754 1930110.0
1930231 44754.0
45279 1930231.0
1930487 45279.0
45852 1930487.0
1930744 45852.0
46465 1930744.0
1931040 46465.0
47025 1931040.0
1931331 47025.0
47490 1931331.0
1931609 47490.0
311403 1781420.0
1734185 333377.0
333377 1734185.0
1734267 333377.0
333595 1734267.0
1734396 333595.0
333852 1734396.0
1734537 333852.0
334129 1734537.0
1734690 334129.0
334387 1734690.0
1734826 334387.0
334645 1734826.0
1734953 334645.0
81 6132683.0
6068710 24279.0
24279 6068710.0
6068823 24279.0
24500 6068823.0
6068943 24500.0
24779 6068943.0
6069099 24779.0
25090 6069099.0
6069273 25090.0
25384 6069273.0
6069423 25384.0
25678 6069423.0
6069575 25678.0
306 13962499.0
13845665 47455.0
47455 13845665.0
13845924 47455.0
47817 13845924.0
13846233 47817.0
48356 13846233.0
13846603 48356.0
48891 13846603.0
13846998 48891.0
49493 13846998.0
13847430 49493.0
49981 13847430.0
13847828 49981.0
6232245 47312.0
47597 6232245.0
6232330 47597.0
47818 6232330.0
6232457 47818.0
47991 6232457.0
6232613 47991.0
48221 6232613.0
6232791 48221.0
48449 6232791.0
6232941 48449.0
48704 6232941.0
6233105 48704.0
82 6249985.0
1040912733 21831.0
21981 1040912733.0
1040912828 21981.0
22100 1040912828.0
1040912973 22100.0
22273 1040912973.0
1040913159 22273.0
22474 1040913159.0
1040913301 22474.0
22675 1040913301.0
1040913440 22675.0
22889 1040913440.0
1040913586 22889.0
67 1040931923.0
218 2095810.0
2015765 10799.0
10974 2015765.0
2015896 10974.0
11259 2015896.0
2016223 11259.0
11611 2016223.0
2016516 11611.0
11985 2016516.0
2016869 11985.0
12346 2016869.0
2017242 12346.0
12660 2017242.0
2017624 12660.0
909016938 127643.0
127990 909016938.0
909017126 127990.0
128517 909017126.0
909017566 128517.0
129123 909017566.0
909018012 129123.0
129637 909018012.0
909018460 129637.0
130187 909018460.0
909019027 130187.0
130722 909019027.0
909019570 130722.0
118 909043641.0
1073692165 37599189.0
37599538 1073692165.0
1073691747 37599538.0
37599951 1073691747.0
1073691282 37599951.0
37600356 1073691282.0
1073690877 37600356.0
37600787 1073690877.0
2030107008 7958143.0
7816007 2030159516.0
2030159818 7816007.0
7816275 2030159818.0
2030160484 7816275.0
7816792 2030160484.0
2030161197 7816792.0
7817296 2030161197.0
2030161913 7817296.0
7817866 2030161913.0
2030162628 7817866.0
7818476 2030162628.0
2030163352 7818476.0
7819014 2030163352.0
1833601 464194.0
464702 1833601.0
1833949 464702.0
465884 1833949.0
1834907 465884.0
467141 1834907.0
1835909 467141.0
468394 1835909.0
1836887 468394.0
469691 1836887.0
1837857 469691.0
470882 1837857.0
1838843 470882.0
197214 1890967.0
907732 285347973.0
285348459 907732.0
908201 285348459.0
285349467 908201.0
909138 285349467.0
285350463 909138.0
909975 285350463.0
285351542 909975.0
910871 285351542.0
285352621 910871.0
911726 285352621.0
285353719 911726.0
912637 285353719.0
285245004 1127213.0
3257918 296731.0
296971 3257918.0
3258088 296971.0
297378 3258088.0
3258429 297378.0
297837 3258429.0
3258784 297837.0
298276 3258784.0
3259223 298276.0
298715 3259223.0
3259470 298715.0
299196 3259470.0
3259751 299196.0
196847 3277233.0
303645596 72244.0
72505 303645596.0
303645603 72505.0
72809 303645603.0
303645603 72809.0
73103 303645603.0
303645603 73103.0
73457 303645603.0
303645737 73457.0
73853 303645737.0
303645833 73853.0
74259 303645833.0
303645935 74259.0
87 303654987.0
3092239 94466.0
95036 3092239.0
3092631 95036.0
95841 3092631.0
3093296 95841.0
96685 3093296.0
3093987 96685.0
97549 3093987.0
3094709 97549.0
98387 3094709.0
3095408 98387.0
99228 3095408.0
3096135 99228.0
716 3145979.0
21538143 28186.0
28864 21538143.0
21539270 28864.0
29541 21539270.0
21541198 29541.0
30149 21541198.0
21543182 30149.0
30730 21543182.0
21545173 30730.0
31315 21545173.0
21547092 31315.0
31905 21547092.0
21549107 31905.0
374 21944736.0
3355920 407255.0
407978 3355920.0
3356754 407978.0
408611 3356754.0
3358150 408611.0
409034 3358150.0
3359657 409034.0
409483 3359657.0
3361162 409483.0
409961 3361162.0
3362626 409961.0
410498 3362626.0
3364091 410498.0
285 3530461.0
1594098493 73352962.0
73231536 1594134444.0
1594134627 73231536.0
73231551 1594134627.0
1594135291 73231551.0
73231747 1594135291.0
1594136031 73231747.0
73232217 1594136031.0
1594136704 73232217.0
73232714 1594136704.0
1594137373 73232714.0
73233228 1594137373.0
1594138005 73233228.0
73233708 1594138005.0
10695493 173219.0
173491 10695493.0
10695591 173491.0
174250 10695591.0
10696184 174250.0
174855 10696184.0
10696793 174855.0
175177 10696793.0
10697380 175177.0
176001 10697380.0
10698022 176001.0
176773 10698022.0
10698662 176773.0
35 10737302.0
724531 201474653.0
201474923 724531.0
724845 201474923.0
201475564 724845.0
725588 201475564.0
201476244 725588.0
726382 201476244.0
201476939 726382.0
727133 201476939.0
201477612 727133.0
727884 201477612.0
201478145 727884.0
728663 201478145.0
201331968 798740.0
250 2045975229.0
2046190711 84185.0
84721 2046190711.0
2046190150 84721.0
85737 2046190150.0
2046189104 85737.0
86591 2046189104.0
2046188119 86591.0
87120 2046188119.0
2046187117 87120.0
87736 2046187117.0
2046186126 87736.0
88331 2046186126.0
2046185095 88331.0
5722783 101766.0
102006 5722783.0
5722977 102006.0
102552 5722977.0
5723397 102552.0
103086 5723397.0
5723784 103086.0
103656 5723784.0
5724199 103656.0
104264 5724199.0
5724583 104264.0
104799 5724583.0
5725009 104799.0
154 5768873.0
3137969 101876.0
102218 3137969.0
3138243 102218.0
102912 3138243.0
3138947 102912.0
103624 3138947.0
3139650 103624.0
104377 3139650.0
3140402 104377.0
105113 3140402.0
3141082 105113.0
105844 3141082.0
3141762 105844.0
377 3232067.0
1073203815 146863321.0
1123544714 1073202058.0
1073201754 1123544714.0
1123544348 1073201754.0
1073200865 1123544348.0
1123543982 1073200865.0
1073200115 1123543982.0
1123543306 1073200115.0
1073199237 1123543306.0
1123542593 1073199237.0
1073198303 1123542593.0
1123541911 1073198303.0
1073197410 1123541911.0
1123541405 1073197410.0
146668889 1123536132.0
1089962154 146746170.0
146744159 1089940461.0
12121159 1190846776.0
1190846310 12121159.0
12121618 1190846310.0
1190845295 12121618.0
12122716 1190845295.0
1190844192 12122716.0
12123773 1190844192.0
1190842993 12123773.0
12124762 1190842993.0
1190841860 12124762.0
12125674 1190841860.0
1190840772 12125674.0
12126787 1190840772.0
1191142711 12133750.0
51706893 3610646.0
3610798 51706893.0
51707016 3610798.0
3611258 51707016.0
51707351 3611258.0
3611699 51707351.0
51707715 3611699.0
3612138 51707715.0
51708075 3612138.0
3612565 51708075.0
51708419 3612565.0
3613023 51708419.0
51708749 3613023.0
3539010 51735353.0

136876645 545881.0
546403 136876645.0
136876936 546403.0
547120 136876936.0
136877520 547120.0
548014 136877520.0
136878149 548014.0
548999 136878149.0
136878833 548999.0
549980 136878833.0
136879491 549980.0
550906 136879491.0
136880139 550906.0
393940 136995130.0
3901604 115703.0
116197 3901604.0
3902116 116197.0
116928 3902116.0
3902787 116928.0
117638 3902787.0
3903539 117638.0
118382 3903539.0
3904291 118382.0
119195 3904291.0
3905061 119195.0
119996 3905061.0
3905900 119996.0
443 4026667.0
1996003 86679.0
86903 1996003.0
1996141 86903.0
87351 1996141.0
1996383 87351.0
87844 1996383.0
1996629 87844.0
88343 1996629.0
1996880 88343.0
88778 1996880.0
1997179 88778.0
89270 1997179.0
1997503 89270.0
124 2030205.0
7663237 53520.0
53564 7663237.0
7663288 53564.0
53964 7663288.0
7663454 53964.0
54352 7663454.0
7663618 54352.0
54753 7663618.0
7663775 54753.0
55197 7663775.0
7663925 55197.0
55513 7663925.0
7664040 55513.0
112 7682427.0
12895988 1588577.0
1588777 12895988.0
12896200 1588777.0
1589446 12896200.0
12896628 1589446.0
1590089 12896628.0
12897223 1590089.0
1590762 12897223.0
12897891 1590762.0
1591440 12897891.0
12898477 1591440.0
1592115 12898477.0
12898529 1592115.0
1441950 12919101.0
13943099 8899046.0
9159053 54652.0
54861 9159053.0
9159262 54861.0
55324 9159262.0
9159631 55324.0
55825 9159631.0
9160025 55825.0
56339 9160025.0
9160435 56339.0
56863 9160435.0
9160809 56863.0
57383 9160809.0
9161233 57383.0
69 9261341.0
4183413 84109.0
84222 4183413.0
3454671 36813.0
36915 3454671.0
3454752 36915.0
37110 3454752.0
3454918 37110.0
37315 3454918.0
3455061 37315.0
37493 3455061.0
3455196 37493.0
37682 3455196.0
3455331 37682.0
37889 3455331.0
3455479 37889.0
34 3478770.0
3592938 1188739749.0
1188738799 3592938.0
3593689 1188738799.0
1188737178 3593689.0
3595107 1188737178.0
1188735488 3595107.0
3596590 1188735488.0
1188733780 3596590.0
3598082 1188733780.0
1188732104 3598082.0
3599482 1188732104.0
1188730513 3599482.0
3599546 1188730513.0
1189019240 3740789.0
346167 14045092.0
14051313 346213.0
774447 9475375.0
9482240 774522.0
7979566 789214.0
796277 7979671.0
1278449 8197329.0
8205884 1278639.0
635 4005927.0
4006679 635.0
1660283 39612.0
39719 1660283.0
1660385 39719.0
39953 1660385.0
1660568 39953.0
40119 1660568.0
1660807 40119.0
40345 1660807.0
1661055 40345.0
40583 1661055.0
1661262 40583.0
40852 1661262.0
1661498 40852.0
113 1684097.0
1507335 59952.0
55673 1507535.0
1507549 55673.0
55673 1507549.0
1507549 55673.0
55673 1507549.0
1507549 55673.0
55673 1507549.0
1507549 55673.0
55673 1507549.0
1507549 55673.0
55673 1507549.0
1507552 55673.0
55673 1507552.0
1632910 206168.0
206497 1632910.0
1633039 206497.0
207389 1633039.0
1633631 207389.0
208334 1633631.0
1634262 208334.0
209281 1634262.0
1634962 209281.0
210183 1634962.0
1635602 210183.0
211029 1635602.0
1636286 211029.0
142 1653213.0
11828833 141830.0
142131 11828833.0
11829053 142131.0
142608 11829053.0
11829431 142608.0
143222 11829431.0
11829872 143222.0
143821 11829872.0
11830313 143821.0
144431 11830313.0
11830696 144431.0
145012 11830696.0
11831139 145012.0
395 11851520.0
1921209 40134.0
40387 1921209.0
1921276 40387.0
40551 1921276.0
1921360 40551.0
40845 1921360.0
1921442 40845.0
40994 1921442.0
1921534 40994.0
41131 1921534.0
1921602 41131.0
41281 1921602.0
1921712 41281.0
91 1925928.0
50346139 329123.0
329149 50346139.0
50346139 329149.0
329165 50346139.0
50346142 329165.0
329175 50346142.0
50346143 329175.0
329195 50346143.0
50346145 329195.0
329212 50346145.0
50346146 329212.0
329226 50346146.0
50346146 329226.0
327683 50346231.0
6473734 22523.0
22566 6473734.0
6473762 22566.0
22673 6473762.0
6473841 22673.0
22796 6473841.0
6473942 22796.0
22912 6473942.0
6474045 22912.0
23036 6474045.0
6474136 23036.0
23158 6474136.0
6474211 23158.0
41 6481415.0
100 2004924.0
1939077 6948.0
7024 1939077.0
1939159 7024.0
7254 1939159.0
1939386 7254.0
7444 1939386.0
1939611 7444.0
7628 1939611.0
1939833 7628.0
7827 1939833.0
1940055 7827.0
8016 1940055.0
1940298 8016.0
1383078115 86407.0
86550 1383078115.0
1383078228 86550.0
87106 1383078228.0
1383078553 87106.0
87688 1383078553.0
1383078864 87688.0
88358 1383078864.0
1383079226 88358.0
88938 1383079226.0
1383079541 88938.0
89446 1383079541.0
1383079863 89446.0
92 1383110115.0
2555927 1223598.0
1150309 2558182.0
2558245 1150309.0
1150359 2558245.0
2558550 1150359.0
1150555 2558550.0
2558906 1150555.0
1150813 2558906.0
2559191 1150813.0
1151070 2559191.0
2559497 1151070.0
1151311 2559497.0
2559787 1151311.0
1151537 2559787.0
46 1089532.0
1058303 6665.0
6665 1058303.0
1058303 6665.0
6801 1058303.0
1058370 6801.0
6965 1058370.0
1058439 6965.0
7119 1058439.0
1058534 7119.0
7291 1058534.0
1058623 7291.0
7424 1058623.0
1058707 7424.0
1089767 26745.0
1215 1095893.0
1095893 1215.0
1215 1095893.0
1096059 1215.0
1279 1096059.0
1096215 1279.0
1356 1096215.0
1096358 1356.0
1423 1096358.0
1096516 1423.0
1496 1096516.0
1096640 1496.0
1578 1096640.0
14455033 262149.0
0 14455033.0

In [23]:
turnstiles_daily.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,01/02/2022,7676054,01/01/2022,7675936.0,118.0
2,A002,R051,02-00-00,59 ST,01/03/2022,7676298,01/02/2022,7676054.0,244.0
3,A002,R051,02-00-00,59 ST,01/04/2022,7676554,01/03/2022,7676298.0,256.0
4,A002,R051,02-00-00,59 ST,01/05/2022,7676817,01/04/2022,7676554.0,263.0
5,A002,R051,02-00-00,59 ST,01/06/2022,7677090,01/05/2022,7676817.0,273.0

In [24]:
turnstiles_daily.to_pickle("turnstiles_daily.pkl")
#turnstiles_daily = pd.read_pickle("turnstiles_daily.pkl")

### Calculating daily exits
* Using same methodology to calculate `EXITS` as I did for `ENTRIES`.

In [25]:
turnstiles_daily_exits = (mta_df_clean.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .EXITS.first())
turnstiles_daily_exits.head(20)

     C/A  UNIT       SCP STATION        DATE    EXITS
0   A002  R051  02-00-00   59 ST  01/01/2022  2649668
1   A002  R051  02-00-00   59 ST  01/02/2022  2649829
2   A002  R051  02-00-00   59 ST  01/03/2022  2650233
3   A002  R051  02-00-00   59 ST  01/04/2022  2650658
4   A002  R051  02-00-00   59 ST  01/05/2022  2651066
5   A002  R051  02-00-00   59 ST  01/06/2022  2651526
6   A002  R051  02-00-00   59 ST  01/07/2022  2651918
7   A002  R051  02-00-00   59 ST  01/08/2022  2652151
8   A002  R051  02-00-00   59 ST  01/09/2022  2652319
9   A002  R051  02-00-00   59 ST  01/10/2022  2652756
10  A002  R051  02-00-00   59 ST  01/11/2022  2653184
11  A002  R051  02-00-00   59 ST  01/12/2022  2653656
12  A002  R051  02-00-00   59 ST  01/13/2022  2654098
13  A002  R051  02-00-00   59 ST  01/14/2022  2654545
14  A002  R051  02-00-00   59 ST  01/15/2022  2654722
15  A002  R051  02-00-00   59 ST  01/16/2022  2654864
16  A002  R051  02-00-00   59 ST  01/17/2022  2655172
17  A002  R051  02-00-00   59 ST  01/18/2022  2655618
18  A002  R051  02-00-00   59 ST  01/19/2022  2656018
19  A002  R051  02-00-00   59 ST  01/20/2022  2656482

- Work off of the daily maximum `EXITS` calculations from above. Recall that the `EXITS` column contains **cumulative exits** on each day. We would now like you to calculate **daily exits**, i.e. the number of new exits gained each day.
- Hint: Group the data by turnstile and use the Pandas `.apply()` method to compute the same differencing function for each turnstile. Check out the `.shift()` and `.diff()` DataFrame methods for this purpose.

In [26]:
turnstiles_daily_exits[["PREV_DATE", "PREV_EXITS"]] = (turnstiles_daily_exits
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "EXITS"]
                                                       .transform(lambda x: x.shift(1)))
# transform() takes a function as parameter
# shift moves the index by the number of periods given (positive or negative)

<ipython-input-26-155a9950ea0b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_daily_exits[["PREV_DATE", "PREV_EXITS"]] = (turnstiles_daily_exits

In [27]:
turnstiles_daily_exits.head()

    C/A  UNIT       SCP STATION        DATE    EXITS   PREV_DATE  PREV_EXITS
0  A002  R051  02-00-00   59 ST  01/01/2022  2649668         NaN         NaN
1  A002  R051  02-00-00   59 ST  01/02/2022  2649829  01/01/2022   2649668.0
2  A002  R051  02-00-00   59 ST  01/03/2022  2650233  01/02/2022   2649829.0
3  A002  R051  02-00-00   59 ST  01/04/2022  2650658  01/03/2022   2650233.0
4  A002  R051  02-00-00   59 ST  01/05/2022  2651066  01/04/2022   2650658.0

In [28]:
#The first date does not have a previous date so we will want to drop that date.

# Drop the rows for first date
turnstiles_daily_exits.dropna(subset=["PREV_DATE"], axis=0, inplace=True)
# axis = 0 means index (=1 means column)

In [29]:
#Let's check that the number of exits for today is higher than entries for yesterday

turnstiles_daily_exits[turnstiles_daily_exits["EXITS"] < turnstiles_daily_exits["PREV_EXITS"]].head()

      C/A  UNIT       SCP STATION        DATE    EXITS   PREV_DATE  PREV_EXITS
113  A002  R051  02-00-00   59 ST  04/24/2021  2583031  04/23/2022   2696011.0
115  A002  R051  02-00-00   59 ST  04/25/2021  2583132  04/24/2022   2696197.0
117  A002  R051  02-00-00   59 ST  04/26/2021  2583332  04/25/2022   2696739.0
119  A002  R051  02-00-00   59 ST  04/27/2021  2583535  04/26/2022   2697237.0
121  A002  R051  02-00-00   59 ST  04/28/2021  2583805  04/27/2022   2697739.0

In [30]:
#Let's see how many stations have this problem and how often.

(turnstiles_daily_exits[turnstiles_daily_exits["EXITS"] < turnstiles_daily_exits["PREV_EXITS"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size()) # size() behaves same as if we'd done .DATE.count()

C/A    UNIT  SCP       STATION
A002   R051  02-00-00  59 ST            7
             02-00-01  59 ST            7
             02-03-00  59 ST            7
             02-03-01  59 ST            7
             02-03-02  59 ST            7
                                       ..
TRAM2  R469  00-00-01  RIT-ROOSEVELT    7
             00-03-00  RIT-ROOSEVELT    7
             00-03-01  RIT-ROOSEVELT    7
             00-05-00  RIT-ROOSEVELT    8
             00-05-01  RIT-ROOSEVELT    7
Length: 4803, dtype: int64

In [31]:
#Let's clean these up.
#If the entries are smaller the day before let's make the sum positive. In order to avoid outliers let's cap the total daily count
#for daily entries to be 1,000,000 people.

def get_daily_EXIT_counts(row, max_counter):
    counter = row["EXITS"] - row["PREV_EXITS"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["EXITS"], row["PREV_EXITS"])
        return 0
    return counter

# If counter is > 1 million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
turnstiles_daily_exits["DAILY_EXITS"] = turnstiles_daily_exits.apply(get_daily_EXIT_counts, axis=1, max_counter=1000000) 

# apply takes a function as parameter and applies it along the given axis (1=apply by row) 
# apply takes care of passing each row to the function

932 1133982.0
1134325 932.0
5973125 129245.0
129795 5973125.0
5973382 129795.0
130447 5973382.0
5973608 130447.0
131328 5973608.0
5973819 131328.0
132175 5973819.0
5974064 132175.0
133007 5974064.0
5974317 133007.0
133735 5974317.0
5974614 133735.0
85 5980618.0
93153 1153244.0
1155190 93153.0
93774 1155190.0
1158388 93774.0
95822 1158388.0
1162108 95822.0
98163 1162108.0
1166039 98163.0
100568 1166039.0
1169976 100568.0
103012 1169976.0
1174121 103012.0
105581 1174121.0
33119044 34157641.0
34159454 33119044.0
33119900 34159454.0
34162848 33119900.0
33121933 34162848.0
34166828 33121933.0
33124288 34166828.0
34170890 33124288.0
33126632 34170890.0
34174834 33126632.0
33129070 34174834.0
34178508 33129070.0
33131511 34178508.0
589 5976643.0
5523895 187381.0
188754 5523895.0
5524708 188754.0
190940 5524708.0
5525984 190940.0
193282 5525984.0
5527384 193282.0
195996 5527384.0
5528867 195996.0
198524 5528867.0
5530299 198524.0
200908 5530299.0
5531750 200908.0
17921224 19012764.0
19015634 17921224.0
17922741 19015634.0
19019167 17922741.0
17924657 19019167.0
19022790 17924657.0
17926670 19022790.0
19026853 17926670.0
17928927 19026853.0
19030676 17928927.0
17930936 19030676.0
19034439 17930936.0
17933395 19034439.0
8081410 40405.0
40702 8081410.0
8081575 40702.0
41127 8081575.0
8081877 41127.0
41571 8081877.0
8082192 41571.0
42025 8082192.0
8082523 42025.0
42468 8082523.0
8082863 42468.0
42845 8082863.0
8083157 42845.0
1 8162609.0
4565184 150183.0
150815 4565184.0
4565695 150815.0
152126 4565695.0
4566391 152126.0
153591 4566391.0
4567107 153591.0
155141 4567107.0
4567924 155141.0
156645 4567924.0
4568745 156645.0
158041 4568745.0
4569541 158041.0
1329 4753462.0
1643306 137015.0
137364 1643306.0
1643502 137364.0
137789 1643502.0
1643732 137789.0
138313 1643732.0
1643992 138313.0
138885 1643992.0
1644244 138885.0
139384 1644244.0
1644495 139384.0
139950 1644495.0
1644788 139950.0
218 1653807.0
1024 11719706.0
467794917 1024.0
11348086 467737252.0
467736091 11348086.0
11348704 467736091.0
467734529 11348704.0
11349687 467734529.0
467732948 11349687.0
11350734 467732948.0
467731392 11350734.0
11351897 467731392.0
467729742 11351897.0
11352823 467729742.0
467728139 11352823.0
11353862 467728139.0
436763036 120700.0
121001 436763036.0
436763279 121001.0
121306 436763279.0
436763618 121306.0
121705 436763618.0
436763989 121705.0
122189 436763989.0
436764471 122189.0
122564 436764471.0
436764893 122564.0
122911 436764893.0
436765258 122911.0
104 436767770.0
2339554 61878.0
62008 2339554.0
2339692 62008.0
62252 2339692.0
2339917 62252.0
62517 2339917.0
2340148 62517.0
62809 2340148.0
2340418 62809.0
63090 2340418.0
2340631 63090.0
63355 2340631.0
2340847 63355.0
165 2357391.0
3196184 0.0
0 3196184.0
3196184 0.0
0 3196184.0
3196184 0.0
0 3196184.0
3196184 0.0
0 3196184.0
3196184 0.0
0 3196184.0
3196184 0.0
0 3196184.0
3196184 0.0
0 3196184.0
0 16777478.0
16777348 86.0
88 16777348.0
16777348 88.0
89 16777348.0
16777348 89.0
94 16777348.0
16777348 94.0
96 16777348.0
16777348 96.0
100 16777348.0
16777348 100.0
100 16777348.0
16777348 100.0
2190454 100405.0
100440 2190454.0
2190620 100440.0
100652 2190620.0
2190768 100652.0
100824 2190768.0
2190933 100824.0
101052 2190933.0
2191185 101052.0
101298 2191185.0
2191312 101298.0
101571 2191312.0
2191463 101571.0
137 2192493.0
51 1838548.0
1783937 9942.0
10196 1783937.0
1784056 10196.0
10333 1784056.0
1784168 10333.0
10485 1784168.0
1784284 10485.0
10662 1784284.0
1784438 10662.0
10825 1784438.0
1784519 10825.0
11028 1784519.0
1784629 11028.0
268442285 9343.0
9407 268442285.0
268442297 9407.0
9457 268442297.0
268442318 9457.0
9511 268442318.0
268442342 9511.0
9564 268442342.0
268442377 9564.0
9616 268442377.0
268442411 9616.0
9666 268442411.0
268442453 9666.0
11 268452929.0
5276 1562778068.0
1562963755 1362410.0
513 16949437.0
16579345 83043.0
84175 16579345.0
16579978 84175.0
85523 16579978.0
16580789 85523.0
87103 16580789.0
16581631 87103.0
88691 16581631.0
16582523 88691.0
90371 16582523.0
16583457 90371.0
92100 16583457.0
16584497 92100.0
3 2006536.0
1809814 45736.0
46271 1809814.0
1810079 46271.0
47037 1810079.0
1810533 47037.0
47832 1810533.0
1810961 47832.0
48720 1810961.0
1811408 48720.0
49707 1811408.0
1811862 49707.0
50661 1811862.0
1812361 50661.0
983606 268704206.0
268705598 983606.0
984100 268705598.0
268706571 984100.0
984643 268706571.0
268707611 984643.0
985254 268707611.0
268708853 985254.0
985928 268708853.0
268710130 985928.0
986554 268710130.0
268711499 986554.0
987212 268711499.0
268473848 1083083.0
1285568 63995.0
64309 1285568.0
1285722 64309.0
64649 1285722.0
1285865 64649.0
65040 1285865.0
1286044 65040.0
65448 1286044.0
1286225 65448.0
65850 1286225.0
1286382 65850.0
66250 1286382.0
1286594 66250.0
75 1318622.0
19414375 20633263.0
20636396 19414375.0
19416807 20636396.0
20639842 19416807.0
19419888 20639842.0
20643412 19419888.0
19422976 20643412.0
20647217 19422976.0
19426105 20647217.0
20651027 19426105.0
19429283 20651027.0
20654762 19429283.0
19432609 20654762.0
2122591 186225.0
186961 2122591.0
2123202 186961.0
187926 2123202.0
2123992 187926.0
188855 2123992.0
2124766 188855.0
189833 2124766.0
2125636 189833.0
190882 2125636.0
2126378 190882.0
191947 2126378.0
2127301 191947.0
633 2245979.0
1066305 16882.0
16964 1066305.0
1066358 16964.0
17044 1066358.0
1066420 17044.0
17142 1066420.0
1066492 17142.0
17237 1066492.0
1066566 17237.0
17336 1066566.0
1066630 17336.0
17421 1066630.0
1066695 17421.0
1 1076665.0
5191984 233846.0
235105 5191984.0
5193089 235105.0
236445 5193089.0
5194497 236445.0
237921 5194497.0
5195918 237921.0
239359 5195918.0
5197560 239359.0
240865 5197560.0
5199167 240865.0
242344 5199167.0
5200709 242344.0
694 5516171.0
180512 101061216.0
101062444 180512.0
181623 101062444.0
101064627 181623.0
183431 101064627.0
101066865 183431.0
185289 101066865.0
101069121 185289.0
187291 101069121.0
101071325 187291.0
189208 101071325.0
101073543 189208.0
191115 101073543.0
100678103 411664.0
8462547 119988.0
120326 8462547.0
8462748 120326.0
120982 8462748.0
8463122 120982.0
121677 8463122.0
8463531 121677.0
122434 8463531.0
8463963 122434.0
123212 8463963.0
8464360 123212.0
123907 8464360.0
8464793 123907.0
65 8512839.0
1056988739 0.0
0 1056988739.0
1056988739 0.0
0 1056988739.0
1056988739 0.0
0 1056988739.0
1056988739 0.0
0 1056988739.0
1056988739 0.0
0 1056988739.0
1056988739 0.0
0 1056988739.0
1056988739 0.0
6 1056988739.0
2633180 490990.0
458801 2638668.0
2638726 458801.0
458841 2638726.0
2638835 458841.0
458887 2638835.0
2638926 458887.0
458944 2638926.0
2639029 458944.0
459017 2639029.0
2639125 459017.0
459102 2639125.0
2639244 459102.0
459179 2639244.0
602 1025567.0
26 2284200.0
2249246 1522.0
1601 2249246.0
2249277 1601.0
1746 2249277.0
2249377 1746.0
1911 2249377.0
2249471 1911.0
2093 2249471.0
2249552 2093.0
2266 2249552.0
2249645 2266.0
2435 2249645.0
2249731 2435.0
2942749 77100.0
77363 2942749.0
2942870 77363.0
77635 2942870.0
2943042 77635.0
77915 2943042.0
2943216 77915.0
78228 2943216.0
2943396 78228.0
78509 2943396.0
2943561 78509.0
78793 2943561.0
2943742 78793.0
66 2944229.0
2421583 310303.0
311595 2421583.0
2422299 311595.0
313661 2422299.0
2423169 313661.0
315747 2423169.0
2424085 315747.0
317807 2424085.0
2425142 317807.0
319934 2425142.0
2426138 319934.0
321738 2426138.0
2427166 321738.0
713 2544401.0
552542631 132714.0
47516 552550733.0
552550938 47516.0
47610 552550938.0
552551337 47610.0
47852 552551337.0
552551778 47852.0
48078 552551778.0
552552221 48078.0
48330 552552221.0
552552666 48330.0
48581 552552666.0
552553096 48581.0
48855 552553096.0
368 8740129.0
8497314 103408.0
104327 8497314.0
8497714 104327.0
105469 8497714.0
8498378 105469.0
106777 8498378.0
8499087 106777.0
108268 8499087.0
8499917 108268.0
109692 8499917.0
8500606 109692.0
111050 8500606.0
8501379 111050.0
42174670 43296144.0
43298420 42174670.0
42175552 43298420.0
43302495 42175552.0
42177771 43302495.0
43306835 42177771.0
42179979 43306835.0
43311539 42179979.0
42182248 43311539.0
43316379 42182248.0
42184460 43316379.0
43320656 42184460.0
42186772 43320656.0
90 9479208.0
9229830 1873.0
2555 9229830.0
9230299 2555.0
3277 9230299.0
9230757 3277.0
4121 9230757.0
9231218 4121.0
5033 9231218.0
9231717 5033.0
5842 9231717.0
9232170 5842.0
6737 9232170.0
9232697 6737.0
9305763 10926164.0
10928892 9305763.0
9307706 10928892.0
10934434 9307706.0
9311894 10934434.0
10940794 9311894.0
9316453 10940794.0
10947190 9316453.0
9320874 10947190.0
10953588 9320874.0
9325322 10953588.0
10959456 9325322.0
9329789 10959456.0
178967737 180255399.0
180257684 178967737.0
178969624 180257684.0
180261974 178969624.0
178973032 180261974.0
180266777 178973032.0
178976533 180266777.0
180271593 178976533.0
178980059 180271593.0
180276498 178980059.0
178983676 180276498.0
180280865 178983676.0
178987102 180280865.0

3602317 4807944.0
4810698 3602317.0
3603965 4810698.0
4814435 3603965.0
3606199 4814435.0
4818587 3606199.0
3608438 4818587.0
4823206 3608438.0
3610754 4823206.0
4827716 3610754.0
3613223 4827716.0
4832258 3613223.0
3615837 4832258.0
1919 1435144.0
306 1150397.0
27655491 29116374.0
29120040 27655491.0
27657458 29120040.0
29124120 27657458.0
27659858 29124120.0
29128877 27659858.0
27662469 29128877.0
29134179 27662469.0
27665662 29134179.0
29139424 27665662.0
27668383 29139424.0
29144960 27668383.0
27671681 29144960.0
586804 1680436.0
1683788 586804.0
588573 1683788.0
1686427 588573.0
590198 1686427.0
1689462 590198.0
592001 1689462.0
1693026 592001.0
594196 1693026.0
1696454 594196.0
596036 1696454.0
1700298 596036.0
598477 1700298.0
2133796536 55608.0
55645 2133796536.0
2774389 332209.0
333050 2774389.0
6592830 122133.0
122476 6592830.0
84117 16892466.0
16892711 84117.0
84202 16892711.0
16893166 84202.0
84445 16893166.0
16893669 84445.0
84716 16893669.0
16894207 84716.0
84991 16894207.0
16894727 84991.0
85257 16894727.0
16895232 85257.0
85548 16895232.0
16818895 129276.0
35 1187041.0
1139118 21113.0
21227 1139118.0
1139190 21227.0
21504 1139190.0
1139339 21504.0
21780 1139339.0
1139458 21780.0
22112 1139458.0
1139583 22112.0
22423 1139583.0
1139735 22423.0
22689 1139735.0
1139881 22689.0
2316902 587297679.0
587297784 2316902.0
2316957 587297784.0
587298036 2316957.0
2317111 587298036.0
587298290 2317111.0
2317258 587298290.0
587298629 2317258.0
2317408 587298629.0
587298965 2317408.0
2317548 587298965.0
587299235 2317548.0
2317719 587299235.0
587250745 2342726.0
580713 151071674.0
151071814 580713.0
580830 151071814.0
151072143 580830.0
581028 151072143.0
151072538 581028.0
581221 151072538.0
151072909 581221.0
581446 151072909.0
151073316 581446.0
581627 151073316.0
151073665 581627.0
581844 151073665.0
151013878 613555.0
584730 151089937.0
151090082 584730.0
584846 151090082.0
151090464 584846.0
585028 151090464.0
151090886 585028.0
585220 151090886.0
151091317 585220.0
585405 151091317.0
151091759 585405.0
585601 151091759.0
151092206 585601.0
585835 151092206.0
151023648 620734.0
2844775 772110366.0
772111266 2844775.0
2845476 772111266.0
772113279 2845476.0
2846712 772113279.0
772115549 2846712.0
2847934 772115549.0
772117899 2847934.0
2849193 772117899.0
772120191 2849193.0
2850489 772120191.0
772122290 2850489.0
2851777 772122290.0
771803613 3039094.0
1987915 40544.0
40733 1987915.0
1988025 40733.0
40970 1988025.0
1988181 40970.0
41230 1988181.0
1988344 41230.0
41465 1988344.0
1988512 41465.0
41732 1988512.0
1988688 41732.0
41963 1988688.0
1988872 41963.0
106 2004675.0
181 1235886.0
1096953 17740.0
18052 1096953.0
1097225 18052.0
18581 1097225.0
1097552 18581.0
19118 1097552.0
1097949 19118.0
19699 1097949.0
1098325 19699.0
20243 1098325.0
1098739 20243.0
20805 1098739.0
1099133 20805.0
3710643 30564.0
30844 3710643.0
3710909 30844.0
31282 3710909.0
3711267 31282.0
31766 3711267.0
3711579 31766.0
32229 3711579.0
3711945 32229.0
32671 3711945.0
3712252 32671.0
33162 3712252.0
3712617 33162.0
278 3792030.0
5667085 52787.0
53078 5667085.0
5667313 53078.0
53520 5667313.0
5667619 53520.0
53971 5667619.0
5667946 53971.0
54403 5667946.0
5668266 54403.0
54890 5668266.0
5668530 54890.0
55295 5668530.0
5668889 55295.0
442 5748529.0
3382754 32646.0
32899 3382754.0
3382872 32899.0
33090 3382872.0
3383018 33090.0
33267 3383018.0
3383182 33267.0
33466 3383182.0
3383343 33466.0
33681 3383343.0
3383490 33681.0
33884 3383490.0
3383634 33884.0
60 3415188.0
8069830 54657.0
55068 8069830.0
8069914 55068.0
55271 8069914.0
8070038 55271.0
55481 8070038.0
8070177 55481.0
55727 8070177.0
8070332 55727.0
56006 8070332.0
8070458 56006.0
56272 8070458.0
8070605 56272.0
133 8070982.0
18 9856627.0
9833926 379.0
424 9833926.0
9833962 424.0
458 9833962.0
9834019 458.0
497 9834019.0
9834102 497.0
547 9834102.0
9834197 547.0
626 9834197.0
9834281 626.0
687 9834281.0
9834364 687.0
563806220 0.0
0 563806220.0
563806220 0.0
0 563806220.0
563806220 0.0
0 563806220.0
239327 50388136.0
50388166 239327.0
239346 50388166.0
50388208 239346.0
239388 50388208.0
50388257 239388.0
239432 50388257.0
50388299 239432.0
239462 50388299.0
50388333 239462.0
239489 50388333.0
50388381 239489.0
239514 50388381.0
50383631 251082.0
14090596 149.0
144 14133835.0
1489772 38624.0
38704 1489772.0
1489853 38704.0
38892 1489853.0
1489989 38892.0
39085 1489989.0
1490134 39085.0
39277 1490134.0
1490284 39277.0
39493 1490284.0
1490406 39493.0
39689 1490406.0
1490535 39689.0
79 1502382.0
186041987 99530.0
100065 186041987.0
186042239 100065.0
100589 186042239.0
186042655 100589.0
101286 186042655.0
186043083 101286.0
102208 186043083.0
186043563 102208.0
102832 186043563.0
186043949 102832.0
103369 186043949.0
186044448 103369.0
429 186124399.0
1813403 134647.0
135149 1813403.0
1813652 135149.0
135660 1813652.0
1814074 135660.0
136287 1814074.0
1814435 136287.0
137058 1814435.0
1814856 137058.0
137726 1814856.0
1815213 137726.0
138227 1815213.0
1815650 138227.0
50 1851686.0
4597828 1174590200.0
1174590478 4597828.0
4598052 1174590478.0
1174590886 4598052.0
4598371 1174590886.0
1174591301 4598371.0
4598703 1174591301.0
1174591753 4598703.0
4599037 1174591753.0
1174592210 4599037.0
4599359 1174592210.0
1174592617 4599359.0
4599670 1174592617.0
1174467683 4611970.0
705413202 146214.0
146567 705413202.0
705413516 146567.0
147269 705413516.0
705414037 147269.0
148000 705414037.0
705414681 148000.0
148835 705414681.0
705415282 148835.0
149639 705415282.0
705415905 149639.0
150348 705415905.0
705416496 150348.0
465 705468481.0
365 5974460.0
5770666 75927.0
76470 5770666.0
5771121 76470.0
77438 5771121.0
5771905 77438.0
78425 5771905.0
5772758 78425.0
79379 5772758.0
5773660 79379.0
80358 5773660.0
5774564 80358.0
81318 5774564.0
5775419 81318.0
6345561 223018639.0
223019679 6345561.0
6346369 223019679.0
223021090 6346369.0
6347415 223021090.0
223022498 6347415.0
6348459 223022498.0
223023889 6348459.0
6349492 223023889.0
223025317 6349492.0
6350562 223025317.0
223026800 6350562.0
6351619 223026800.0
222823593 6583774.0
223800 1490388.0
1494021 223800.0
225796 1494021.0
1498029 225796.0
228893 1498029.0
1502355 228893.0
231902 1502355.0
1506857 231902.0
235086 1506857.0
1510747 235086.0
238208 1510747.0
1514810 238208.0
241505 1514810.0
1657738 43604.0
44094 1657738.0
1657970 44094.0
44540 1657970.0
1658286 44540.0
45054 1658286.0
1658602 45054.0
45582 1658602.0
1658875 45582.0
46090 1658875.0
1659203 46090.0
46651 1659203.0
1659543 46651.0
239 1671513.0
3343108 228010.0
228513 3343108.0
3343487 228513.0
229256 3343487.0
3344052 229256.0
230019 3344052.0
3344606 230019.0
230774 3344606.0
3345239 230774.0
231546 3345239.0
3345762 231546.0
232376 3345762.0
3346409 232376.0
379 3350287.0
1140945 109930.0
110498 1140945.0
1141282 110498.0
111436 1141282.0
1142070 111436.0
112446 1142070.0
1142846 112446.0
113450 1142846.0
1143678 113450.0
114532 1143678.0
1144455 114532.0
115578 1144455.0
1145308 115578.0
364 1150163.0
16777533 266.0
267 16777533.0
16777533 267.0
269 16777533.0
16777534 269.0
269 16777534.0
16777534 269.0
270 16777534.0
16777534 270.0
272 16777534.0
16777534 272.0
273 16777534.0
16777534 273.0
2 16777621.0
7259219 145446.0
145788 7259219.0
7259429 145788.0
146573 7259429.0
7259884 146573.0
147307 7259884.0
7260374 147307.0
148074 7260374.0
7260829 148074.0
148831 7260829.0
7261276 148831.0
149547 7261276.0
7261759 149547.0
226 7303975.0
2794621 293770.0
294957 2794621.0
2795466 294957.0
297625 2795466.0
2797334 297625.0
300417 2797334.0
2799273 300417.0
303240 2799273.0
2801287 303240.0
306045 2801287.0
2803318 306045.0
308730 2803318.0
2805310 308730.0
1073 2809308.0
406 2097774.0
1935812 37221.0
37527 1935812.0
1936016 37527.0
38251 1936016.0
1936482 38251.0
39086 1936482.0
1936999 39086.0
39892 1936999.0
1937498 39892.0
40727 1937498.0
1937966 40727.0
41466 1937966.0
1938427 41466.0
6512136 10848.0
11221 6512136.0
6512339 11221.0
11882 6512339.0
6512704 11882.0
12535 6512704.0
6513073 12535.0
13265 6513073.0
6513490 13265.0
13908 6513490.0
6513869 13908.0
14569 6513869.0
6514254 14569.0
278 6525554.0
126 2402599.0
2350438 26086.0
26195 2350438.0
2350568 26195.0
26470 2350568.0
2350760 26470.0
26751 2350760.0
2350953 26751.0
27034 2350953.0
2351168 27034.0
27305 2351168.0
2351346 27305.0
27547 2351346.0
2351536 27547.0

3076202 92844.0
93075 3076202.0
3076388 93075.0
93542 3076388.0
3076752 93542.0
93983 3076752.0
3077089 93983.0
94463 3077089.0
3077416 94463.0
94942 3077416.0
3077761 94942.0
95366 3077761.0
5007350 94537.0
94657 5007350.0
5007386 94657.0
94926 5007386.0
5007540 94926.0
95186 5007540.0
5007731 95186.0
95649 5007731.0
5007889 95649.0
95986 5007889.0
5008067 95986.0
96329 5008067.0
5008217 96329.0
189 5011886.0
11474337 244047.0
244395 11474337.0
11474467 244395.0
245172 11474467.0
11475047 245172.0
246136 11475047.0
11475627 246136.0
247339 11475627.0
11476248 247339.0
248291 11476248.0
11476837 248291.0
249142 11476837.0
11477352 249142.0
0 11489500.0
1009319248 1267624.0
1039140 1009318796.0
2391015 3502732.0
3505773 2391015.0
2393067 3505773.0
3508989 2393067.0
2395581 3508989.0
3512852 2395581.0
2397982 3512852.0
3515893 2397982.0
2400618 3515893.0
3519523 2400618.0
2403164 3519523.0
3523119 2403164.0
2406007 3523119.0
59234824 60307119.0
60308808 59234824.0
59235350 60308808.0
60312550 59235350.0
59237730 60312550.0
60316783 59237730.0
59240312 60316783.0
60321354 59240312.0
59242968 60321354.0
60325768 59242968.0
59245539 60325768.0
60329898 59245539.0
59248180 60329898.0
249 1043800.0
1943625 560619.0
562538 1943625.0
1944083 562538.0
564998 1944083.0
1945535 564998.0
567787 1945535.0
1947077 567787.0
570593 1947077.0
1948911 570593.0
573731 1948911.0
1950496 573731.0
576745 1950496.0
1952258 576745.0
1624 2136659.0
3057396 113751.0
114087 3057396.0
3057511 114087.0
114516 3057511.0
3057757 114516.0
115051 3057757.0
3058036 115051.0
115623 3058036.0
3058334 115623.0
116253 3058334.0
3058596 116253.0
116936 3058596.0
3058921 116936.0
1179 3095180.0
8870922 201704.0
202606 8870922.0
8871469 202606.0
203474 8871469.0
8872107 203474.0
204380 8872107.0
8872758 204380.0
205322 8872758.0
8873455 205322.0
206281 8873455.0
8874102 206281.0
207299 8874102.0
8874844 207299.0
436 8944151.0
2843201 48489.0
48869 2843201.0
2843603 48869.0
49207 2843603.0
2844038 49207.0
49586 2844038.0
2844446 49586.0
49946 2844446.0
2845045 49946.0
50374 2845045.0
2845516 50374.0
50812 2845516.0
2845998 50812.0
205 2919929.0
1281 6223852.0
5704523 46177.0
47262 5704523.0
5705374 47262.0
49053 5705374.0
5706717 49053.0
51018 5706717.0
5708105 51018.0
52845 5708105.0
5709537 52845.0
54820 5709537.0
5710924 54820.0
56981 5710924.0
5712350 56981.0
198168 1340733.0
1344509 198168.0
199426 1344509.0
1348155 199426.0
201810 1348155.0
1351991 201810.0
204355 1351991.0
1356114 204355.0
207127 1356114.0
1360017 207127.0
209588 1360017.0
1364157 209588.0
212229 1364157.0
3415932 25445.0
25491 3415932.0
3415938 25491.0
25654 3415938.0
3416063 25654.0
25854 3416063.0
3416196 25854.0
26023 3416196.0
3416340 26023.0
26182 3416340.0
3416482 26182.0
26345 3416482.0
3416612 26345.0
152 3432817.0
329 1219696.0
1220242 329.0
1169 1220242.0
1220716 1169.0
387 1503214.0
1503896 387.0
1324 1503896.0
1504565 1324.0
273 1239645.0
1240136 273.0
1054 1240136.0
1240626 1054.0
1142 5260496.0
4967584 130697.0
132100 4967584.0
4968183 132100.0
133672 4968183.0
4969000 133672.0
135333 4969000.0
4969897 135333.0
137061 4969897.0
4970859 137061.0
138856 4970859.0
4971640 138856.0
140755 4971640.0
4972502 140755.0
3860373 1929982735.0
1929983900 3860373.0
3861037 1929983900.0
1929986077 3861037.0
3862454 1929986077.0
1929988615 3862454.0
3863936 1929988615.0
1929991299 3863936.0
3865452 1929991299.0
1929993844 3865452.0
3867011 1929993844.0
1929996088 3867011.0
3868479 1929996088.0
1929709539 4195997.0
2468142 471062.0
471863 2468142.0
2468574 471863.0
473206 2468574.0
2469363 473206.0
474738 2469363.0
2470207 474738.0
476358 2470207.0
2471161 476358.0
477824 2471161.0
2472129 477824.0
479277 2472129.0
2473049 479277.0
272387 2655580.0
1791212 1573320557.0
1573321170 1791212.0
1791532 1573321170.0
1573322183 1791532.0
1792132 1573322183.0
1573323325 1792132.0
1792731 1573323325.0
1573324517 1792731.0
1793386 1573324517.0
1573325651 1793386.0
1794071 1573325651.0
1573326576 1794071.0
1794726 1573326576.0
1573192716 1953260.0
160 1239738.0
654311428 0.0
0 654311428.0
654311428 0.0
0 654311428.0
654311428 0.0
0 654311428.0
654311428 0.0
0 654311428.0
654311428 0.0
0 654311428.0
654311428 0.0
0 654311428.0
654311428 0.0
0 654311429.0
1000 1067752.0
0 1240819.0
10718936 121011.0
121766 10718936.0
10719376 121766.0
122542 10719376.0
10719908 122542.0
123404 10719908.0
10720435 123404.0
124260 10720435.0
10720994 124260.0
125160 10720994.0
10721508 125160.0
125949 10721508.0
10722075 125949.0
970 10849968.0
9778479 63232.0
63491 9778479.0
9778705 63491.0
63970 9778705.0
9779117 63970.0
64526 9779117.0
9779609 64526.0
65096 9779609.0
9780095 65096.0
65687 9780095.0
9780572 65687.0
66129 9780572.0
9781006 66129.0
331 9874550.0
2854352 50726.0
50726 2854352.0
2854352 50726.0
51124 2854352.0
2854630 51124.0
51595 2854630.0
2854890 51595.0
51984 2854890.0
2855182 51984.0
52395 2855182.0
2855453 52395.0
52735 2855453.0
2855732 52735.0
40 2888888.0
201 9735124.0
9567022 17131.0
17357 9567022.0
9567235 17357.0
17739 9567235.0
9567617 17739.0
17767 9567617.0
9568086 17767.0
3094743 4172269.0
4173227 3094743.0
3096172 4173227.0
4176859 3096172.0
3099037 4176859.0
4180908 3099037.0
3101912 4180908.0
4185073 3101912.0
3104834 4185073.0
4189199 3104834.0
3107790 4189199.0
4193105 3107790.0
3110902 4193105.0
2960588 65936.0
66128 2960588.0
2960690 66128.0
66384 2960690.0
2960809 66384.0
66657 2960809.0
2960964 66657.0
66923 2960964.0
2961102 66923.0
67240 2961102.0
2961252 67240.0
67598 2961252.0
2961408 67598.0
67 2974173.0
14324221 296681.0
8 14324224.0
4029179 197539.0
197980 4029179.0
4029379 197980.0
198735 4029379.0
4029646 198735.0
199774 4029646.0
4029962 199774.0
200823 4029962.0
4030278 200823.0
201817 4030278.0
4030599 201817.0
202573 4030599.0
4030947 202573.0
74 4035691.0
1636 3965225.0
3640763 17921.0
18928 3640763.0
3640875 18928.0
20254 3640875.0
3641218 20254.0
21857 3641218.0
3641589 21857.0
23600 3641589.0
3641997 23600.0
25243 3641997.0
3642412 25243.0
26710 3642412.0
3642843 26710.0
27662294 214464.0
215999 27662294.0
27662462 215999.0
218107 27662462.0
27663107 218107.0
220512 27663107.0
27663761 220512.0
223106 27663761.0
27664429 223106.0
225704 27664429.0
27665102 225704.0
227897 27665102.0
27665795 227897.0
1476 27979281.0
351 1976153.0
1745088 32083.0
32809 1745088.0
1745192 32809.0
33680 1745192.0
1745664 33680.0
34639 1745664.0
1746118 34639.0
35687 1746118.0
1746590 35687.0
36780 1746590.0
1747058 36780.0
37757 1747058.0
1747545 37757.0
3062753 326309.0
327151 3062753.0
3062977 327151.0
328582 3062977.0
3063818 328582.0
330107 3063818.0
3064710 330107.0
331792 3064710.0
3065624 331792.0
333383 3065624.0
3066605 333383.0
334909 3066605.0
3067560 334909.0
397 3150772.0
862 1589026.0
372 1627371.0
1418687 103718.0
104303 1418687.0
1419155 104303.0
105477 1419155.0
1419828 105477.0
106651 1419828.0
1420619 106651.0
107927 1420619.0
1421375 107927.0
109172 1421375.0
1422182 109172.0
110312 1422182.0
1423025 110312.0
952 1005893.0
104 2236665.0
1584681 226738.0
226743 1584681.0
1585887 226743.0
229265 1585887.0
1587704 229265.0
232448 1587704.0
1589684 232448.0
235749 1589684.0
1591709 235749.0
239044 1591709.0
1593672 239044.0
242210 1593672.0
1595706 242210.0
72 11863706.0
11864221 72.0
664 11864221.0
11864686 664.0
1315 11864686.0
11865160 1315.0
1937 11865160.0
11865599 1937.0
21835313 23011672.0
23018638 21835313.0
21836968 23018638.0
23023421 21836968.0
21839539 23023421.0
23027556 21839539.0
21842326 23027556.0
23031970 21842326.0
21845105 23031970.0
23036293 21845105.0
21847850 23036293.0
23041026 21847850.0
21850603 23041026.0
1874369 65822.0
65929 1874369.0
1874553 65929.0
66358 1874553.0
1874918 66358.0
66948 1874918.0
1875255 66948.0
67515 1875255.0
1875660 67515.0
68044 1875660.0
1876045 68044.0
68563 1876045.0
1876418 68563.0
35 1958138.0
94352 33554481.0
33554482 94352.0
94352 33554482.0
33554482 94352.0
94352 33554482.0
33554482 94352.0
94352 33554482.0
33554482 94352.0
94352 33554482.0
33554482 94352.0
94352 33554482.0
33554482 94352.0
94352 33554482.0
33554435 94365.0
458752 153223168.0
153223168 458752.0
458752 153223168.0
153223168 458752.0
458752 153223168.0
153223168 458752.0
458752 153223168.0
153223168 458752.0
458752 153223168.0
153223168 458752.0
458752 153223168.0
153223168 458752.0
458752 153223168.0
153223168 458752.0
1980032 36368.0
36405 1980032.0
1980035 36405.0
36558 1980035.0
1980127 36558.0
36775 1980127.0
1980217 36775.0
36964 1980217.0
1980297 36964.0
37167 1980297.0
1980394 37167.0
37336 1980394.0
1980478 37336.0
40 1990628.0

2368964 604002048.0
604002048 2368964.0
2368964 604002048.0
604002048 2368964.0
2368964 604002048.0
604002048 2368964.0
2368964 604002048.0
604002048 2368964.0
2368964 604002048.0
604002048 2368964.0
2368964 604002048.0
604002057 2368964.0
2368974 604002057.0
604001837 2369108.0
144 11036345.0
10904048 47487.0
47608 10904048.0
10904156 47608.0
48391 10904156.0
10904609 48391.0
49268 10904609.0
10905068 49268.0
50089 10905068.0
10905532 50089.0
50962 10905532.0
10906050 50962.0
51747 10906050.0
10906500 51747.0
331 3944385.0
3764245 15641.0
15641 3764245.0
3764482 15641.0
16363 3764482.0
3764851 16363.0
17190 3764851.0
3765276 17190.0
18057 3765276.0
3765756 18057.0
18990 3765756.0
3766244 18990.0
19883 3766244.0
3766754 19883.0
114 1560263.0
1475463 10108.0
10108 1475463.0
1475614 10108.0
10399 1475614.0
1475777 10399.0
10775 1475777.0
1475962 10775.0
11151 1475962.0
1476143 11151.0
11549 1476143.0
1476342 11549.0
11919 1476342.0
1476563 11919.0
6660027 439610.0
439610 6660027.0
6660618 439610.0
440980 6660618.0
6661257 440980.0
442612 6661257.0
6661953 442612.0
444134 6661953.0
6662776 444134.0
445981 6662776.0
6663526 445981.0
447903 6663526.0
6664484 447903.0
390 6668124.0
10399976 153194.0
154532 10399976.0
10400499 154532.0
155930 10400499.0
10401419 155930.0
157449 10401419.0
10402422 157449.0
158998 10402422.0
10403391 158998.0
160503 10403391.0
10404379 160503.0
162104 10404379.0
10405467 162104.0
536 10693778.0
1541364 518771.0
521417 1541364.0
1542503 521417.0
524272 1542503.0
1544020 524272.0
527342 1544020.0
1545634 527342.0
530636 1545634.0
1547419 530636.0
533819 1547419.0
1549075 533819.0
537145 1549075.0
1551010 537145.0
1265 1895949.0
124396 72756009.0
72756009 124396.0
124682 72756009.0
72756973 124682.0
125419 72756973.0
72758077 125419.0
126142 72758077.0
72759292 126142.0
126934 72759292.0
72760383 126934.0
127652 72760383.0
72761440 127652.0
128421 72761440.0
72652715 295334.0
2574894 125827.0
126185 2574894.0
2575079 126185.0
126769 2575079.0
2575454 126769.0
127706 2575454.0
2575782 127706.0
128424 2575782.0
2576162 128424.0
129033 2576162.0
2576590 129033.0
129589 2576590.0
2576988 129589.0
132 2607848.0
68782929 35454.0
35456 68782929.0
68783021 35456.0
35812 68783021.0
68783245 35812.0
36257 68783245.0
68783508 36257.0
36637 68783508.0
68783780 36637.0
37144 68783780.0
68784050 37144.0
37612 68784050.0
68784304 37612.0
55 68794099.0
16038514 17265888.0
17267975 16038514.0
16039577 17267975.0
17272573 16039577.0
16042103 17272573.0
17277925 16042103.0
16044892 17277925.0
17283463 16044892.0
16047871 17283463.0
17288870 16047871.0
16050701 17288870.0
17293384 16050701.0
16053459 17293384.0
9744 2598754.0
2502378 57576.0
57576 2502378.0
2502520 57576.0
58095 2502520.0
2502791 58095.0
58748 2502791.0
2503112 58748.0
59487 2503112.0
2503437 59487.0
60077 2503437.0
2503760 60077.0
60616 2503760.0
2504067 60616.0
93 4495327.0
4410493 42022.0
42025 4410493.0
4410645 42025.0
42437 4410645.0
4410880 42437.0
42966 4410880.0
4411142 42966.0
43575 4411142.0
4411386 43575.0
44136 4411386.0
4411658 44136.0
44663 4411658.0
4411926 44663.0
266 16793942.0
16562131 106903.0
106907 16562131.0
16562651 106907.0
107997 16562651.0
16563344 107997.0
109182 16563344.0
16564137 109182.0
110617 16564137.0
16564934 110617.0
111881 16564934.0
16565739 111881.0
113144 16565739.0
16566582 113144.0
15943789 261212.0
262140 15943789.0
15944217 262140.0
263174 15944217.0
15944955 263174.0
264341 15944955.0
15945808 264341.0
265551 15945808.0
15946640 265551.0
266763 15946640.0
15947494 266763.0
267987 15947494.0
15948382 267987.0
400 16054786.0
734831441 102515.0
103308 734831441.0
734831137 103308.0
104409 734831137.0
734830424 104409.0
105640 734830424.0
734829683 105640.0
107010 734829683.0
734828904 107010.0
108267 734828904.0
734828128 108267.0
109532 734828128.0
734827290 109532.0
225 734707935.0
1726 17762767.0
16961963 118944.0
120423 16961963.0
16963290 120423.0
123432 16963290.0
16965707 123432.0
126905 16965707.0
16968274 126905.0
130196 16968274.0
16970972 130196.0
133774 16970972.0
16973537 133774.0
137213 16973537.0
16976066 137213.0
40216069 41525266.0
41528100 40216069.0
40217245 41528100.0
41532802 40217245.0
40219934 41532802.0
41537829 40219934.0
40222651 41537829.0
41542554 40222651.0
40225513 41542554.0
41547620 40225513.0
40228287 41547620.0
41552584 40228287.0
40231212 41552584.0
1875767071 128496.0
128859 1875767071.0
1875766914 128859.0
129427 1875766914.0
1875766529 129427.0
130070 1875766529.0
1875766196 130070.0
130668 1875766196.0
1875765858 130668.0
131278 1875765858.0
1875765498 131278.0
131876 1875765498.0
1875765095 131876.0
46 1875745913.0
408716873 59902578.0
59902997 408716873.0
408717614 59902997.0
59903471 408717614.0
408718471 59903471.0
59903958 408718471.0
408719233 59903958.0
59904438 408719233.0
22631579 24100048.0
24102900 22631579.0
22632830 24102900.0
24107910 22632830.0
22636222 24107910.0
24113166 22636222.0
22639795 24113166.0
24118308 22639795.0
22643417 24118308.0
24123874 22643417.0
22647211 24123874.0
24129330 22647211.0
22650874 24129330.0
1795201399 7034965.0
6829367 1795272440.0
1795273050 6829367.0
6829759 1795273050.0
1795273967 6829759.0
6830532 1795273967.0
1795274898 6830532.0
6831346 1795274898.0
1795275813 6831346.0
6832111 1795275813.0
1795276823 6832111.0
6832955 1795276823.0
1795277784 6832955.0
6833749 1795277784.0
1869817 384992.0
385914 1869817.0
1870690 385914.0
387707 1870690.0
1872063 387707.0
389597 1872063.0
1873484 389597.0
391538 1873484.0
1874902 391538.0
393402 1874902.0
1876336 393402.0
395152 1876336.0
1877839 395152.0
750 1958100.0
407317 134294106.0
134294525 407317.0
407675 134294525.0
134295217 407675.0
408168 134295217.0
134295864 408168.0
408708 134295864.0
134296538 408708.0
409283 134296538.0
134297207 409283.0
409819 134297207.0
134297904 409819.0
410332 134297904.0
134230920 538339.0
1863172 123073.0
123431 1863172.0
1863369 123431.0
123918 1863369.0
1863718 123918.0
124396 1863718.0
1864095 124396.0
124899 1864095.0
1864494 124899.0
125360 1864494.0
1864832 125360.0
125860 1864832.0
1865225 125860.0
304 1885911.0
236172592 117588.0
117954 236172592.0
236172815 117954.0
118437 236172815.0
236173150 118437.0
118948 236173150.0
236173496 118948.0
119518 236173496.0
236173820 119518.0
120122 236173820.0
236174103 120122.0
120691 236174103.0
236174416 120691.0
240 236191254.0
1228830 105150.0
105631 1228830.0
1229158 105631.0
106310 1229158.0
1229672 106310.0
107008 1229672.0
1230196 107008.0
107656 1230196.0
1230773 107656.0
108366 1230773.0
1231347 108366.0
109024 1231347.0
1231924 109024.0
584 1330258.0
3073727 13379.0
13681 3073727.0
3073954 13681.0
14341 3073954.0
3074338 14341.0
15018 3074338.0
3074766 15018.0
15633 3074766.0
3075204 15633.0
16235 3075204.0
3075592 16235.0
16732 3075592.0
3076024 16732.0
89 3154271.0
134297567 17351404.0
17318973 134307223.0
134307310 17318973.0
17319024 134307310.0
134307449 17319024.0
17319132 134307449.0
134307621 17319132.0
17319229 134307621.0
134307810 17319229.0
17319354 134307810.0
134307951 17319354.0
17319505 134307951.0
134308107 17319505.0
17319624 134308107.0
70501 16874991.0
16875109 70501.0
70603 16875109.0
16875313 70603.0
70749 16875313.0
16875527 70749.0
70942 16875527.0
16875788 70942.0
71111 16875788.0
16876025 71111.0
71276 16876025.0
16876253 71276.0
1750336 37891.0
37976 1750336.0
1750384 37976.0
38138 1750384.0
1750492 38138.0
38350 1750492.0
1750593 38350.0
38541 1750593.0
1750694 38541.0
38704 1750694.0
1750826 38704.0
38903 1750826.0
1750942 38903.0
139 1758593.0
597 1424832985.0
1425174950 141521.0
142805 1425174950.0
1425174259 142805.0
144464 1425174259.0
1425172841 144464.0
146259 1425172841.0
1425171348 146259.0
148144 1425171348.0
1425170002 148144.0
150051 1425170002.0
1425168653 150051.0
151988 1425168653.0
1425167289 151988.0
1307296 34431.0
34569 1307296.0
1307373 34569.0
34776 1307373.0
1307528 34776.0
34956 1307528.0
1307649 34956.0
35152 1307649.0
1307796 35152.0
35351 1307796.0
1307932 35351.0
35561 1307932.0
1308059 35561.0
74 1324601.0
1265504 85791.0
86164 1265504.0
1265760 86164.0
86682 1265760.0
1266176 86682.0
87178 1266176.0
1266595 87178.0
87652 1266595.0
1267001 87652.0
88186 1267001.0
1267391 88186.0
88655 1267391.0
1267825 88655.0
995 1324365.0
2064368757 192666577.0
1980401381 2064371786.0
2064372400 1980401381.0
1980401917 2064372400.0
2064373773 1980401917.0
1980402977 2064373773.0
2064375060 1980402977.0
1980404030 2064375060.0
2064376437 1980404030.0
1980405113 2064376437.0
2064377880 1980405113.0
1980406129 2064377880.0
2064379234 1980406129.0
1980407223 2064379234.0
175519766 1980415076.0
2013958193 175636351.0
192461686 2013993657.0
4474193 1141121882.0
1141122299 4474193.0
4474500 1141122299.0
1141123123 4474500.0
4475092 1141123123.0
1141124044 4475092.0
4475719 1141124044.0
1141124995 4475719.0
4476391 1141124995.0
1141125793 4476391.0
4477029 1141125793.0
1141126673 4477029.0
4477679 1141126673.0
1140892665 4482550.0
34079758 107800.0
107900 34079758.0
34079825 107900.0
108131 34079825.0
34079971 108131.0
108388 34079971.0
34080132 108388.0
108651 34080132.0
34080314 108651.0
108881 34080314.0
34080507 108881.0
109128 34080507.0
34080682 109128.0
65622 34097662.0

7535247 286293.0
287488 7535247.0
7535882 287488.0
289265 7535882.0
7537099 289265.0
291357 7537099.0
7538473 291357.0
293639 7538473.0
7539973 293639.0
295765 7539973.0
7541460 295765.0
297818 7541460.0
7542877 297818.0
891 7766949.0
1986 1058913.0
5175953 69611.0
69692 5175953.0
5175983 69692.0
70304 5175983.0
5176110 70304.0
70845 5176110.0
5176252 70845.0
71504 5176252.0
5176382 71504.0
72145 5176382.0
5176489 72145.0
72633 5176489.0
5176585 72633.0
32 5192355.0
9172899 352904.0
353865 9172899.0
9173882 353865.0
355266 9173882.0
9175356 355266.0
356723 9175356.0
9177115 356723.0
358247 9177115.0
9178795 358247.0
359717 9178795.0
9180564 359717.0
361231 9180564.0
9182381 361231.0
440 9252156.0
187 1015906.0
6714542 2117913.0
4860815 40122.0
40380 4860815.0
4860977 40380.0
40766 4860977.0
4861248 40766.0
41154 4861248.0
4861492 41154.0
41552 4861492.0
4861781 41552.0
41950 4861781.0
4862076 41950.0
42347 4862076.0
4862342 42347.0
135 4935826.0
10879546 280818.0
281429 10879546.0
2458543 55314.0
55546 2458543.0
2458689 55546.0
55875 2458689.0
2458895 55875.0
56160 2458895.0
2459063 56160.0
56472 2459063.0
2459246 56472.0
56767 2459246.0
2459407 56767.0
57085 2459407.0
2459584 57085.0
192 2494263.0
2131034 602795.0
603578 2131034.0
2132364 603578.0
606205 2132364.0
2134381 606205.0
608515 2134381.0
2136504 608515.0
610765 2136504.0
2138644 610765.0
613601 2138644.0
2140829 613601.0
616380 2140829.0
2142988 616380.0
377 2365001.0
2890 1024441.0
973874 1639084122.0
1639083654 973874.0
974165 1639083654.0
1639083153 974165.0
974562 1639083153.0
1639082498 974562.0
975023 1639082498.0
1639081826 975023.0
975484 1639081826.0
1639081267 975484.0
975935 1639081267.0
1639080602 975935.0
976425 1639080602.0
1639186158 1040976.0
35748801 36785576.0
36786670 35748801.0
35750727 36786670.0
36790075 35750727.0
35753647 36790075.0
36793377 35753647.0
35756757 36793377.0
36796729 35756757.0
35760025 36796729.0
36800385 35760025.0
35762559 36800385.0
36802748 35762559.0
35764981 36802748.0
316001 36140449.0
36151067 316049.0
812992 8118107.0
8124158 813102.0
6411502 483053.0
487196 6411752.0
561382 3104257.0
3108571 562011.0
0 9136205.0
9149319 0.0
36081308 37228270.0
37230218 36081308.0
36082622 37230218.0
37234476 36082622.0
36085248 37234476.0
37238832 36085248.0
36088000 37238832.0
37243077 36088000.0
36090781 37243077.0
37247547 36090781.0
36093444 37247547.0
37251990 36093444.0
36096024 37251990.0
11792580 219083.0
219788 11792580.0
11792932 219788.0
220671 11792932.0
11793451 220671.0
221595 11793451.0
11794030 221595.0
222520 11794030.0
11794614 222520.0
223500 11794614.0
11795130 223500.0
224414 11795130.0
11795825 224414.0
536 11825747.0
134263112 0.0
0 134263112.0
134263112 0.0
0 134263112.0
134263112 0.0
0 134263112.0
134263112 0.0
0 134263112.0
134263112 0.0
0 134263112.0
134263112 0.0
0 134263112.0
134263112 0.0
0 134263112.0
2468095 67789.0
67934 2468095.0
2468227 67934.0
68241 2468227.0
2468459 68241.0
68595 2468459.0
2468686 68595.0
68929 2468686.0
2468949 68929.0
69242 2468949.0
2469185 69242.0
69542 2469185.0
2469432 69542.0
156 2489989.0
131154 3243033.0
3177729 137984.0
138049 3177729.0
3177819 138049.0
138153 3177819.0
3178043 138153.0
138264 3178043.0
3178284 138264.0
138380 3178284.0
3178502 138380.0
138510 3178502.0
3178711 138510.0
138657 3178711.0
3178939 138657.0
804225787 123333.0
123654 804225787.0
804225981 123654.0
124331 804225981.0
804226377 124331.0
125024 804226377.0
804226664 125024.0
125728 804226664.0
804227038 125728.0
126395 804227038.0
804227435 126395.0
126946 804227435.0
804227819 126946.0
197 804264249.0
65887 4488568.0
4168045 76458.0
76892 4168045.0
4168054 76892.0
78231 4168054.0
4168901 78231.0
79614 4168901.0
4169879 79614.0
81008 4169879.0
4170852 81008.0
82410 4170852.0
4171815 82410.0
83753 4171815.0
4172706 83753.0
3980632 0.0
0 3980632.0

In [32]:
turnstiles_daily_exits.head()

,C/A,UNIT,SCP,STATION,DATE,EXITS,PREV_DATE,PREV_EXITS,DAILY_EXITS
1,A002,R051,02-00-00,59 ST,01/02/2022,2649829,01/01/2022,2649668.0,161.0
2,A002,R051,02-00-00,59 ST,01/03/2022,2650233,01/02/2022,2649829.0,404.0
3,A002,R051,02-00-00,59 ST,01/04/2022,2650658,01/03/2022,2650233.0,425.0
4,A002,R051,02-00-00,59 ST,01/05/2022,2651066,01/04/2022,2650658.0,408.0
5,A002,R051,02-00-00,59 ST,01/06/2022,2651526,01/05/2022,2651066.0,460.0

In [33]:
turnstiles_daily_exits.to_pickle("turnstiles_daily_exits.pkl")
#turnstiles_daily_exits = pd.read_pickle("turnstiles_daily_exits.pkl")

Going to ***merge/join*** turnstiles_daily_exits dataframe with turnstiles_daily dataframe.
* Need to first rename some columns

In [34]:
turnstiles_daily_exits.rename(columns = {'PREV_DATE':'PREV_DATE_EXITS'}, inplace = True)
turnstiles_daily_exits.head()

,C/A,UNIT,SCP,STATION,DATE,EXITS,PREV_DATE_EXITS,PREV_EXITS,DAILY_EXITS
1,A002,R051,02-00-00,59 ST,01/02/2022,2649829,01/01/2022,2649668.0,161.0
2,A002,R051,02-00-00,59 ST,01/03/2022,2650233,01/02/2022,2649829.0,404.0
3,A002,R051,02-00-00,59 ST,01/04/2022,2650658,01/03/2022,2650233.0,425.0
4,A002,R051,02-00-00,59 ST,01/05/2022,2651066,01/04/2022,2650658.0,408.0
5,A002,R051,02-00-00,59 ST,01/06/2022,2651526,01/05/2022,2651066.0,460.0

In [35]:
turnstiles_daily.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,01/02/2022,7676054,01/01/2022,7675936.0,118.0
2,A002,R051,02-00-00,59 ST,01/03/2022,7676298,01/02/2022,7676054.0,244.0
3,A002,R051,02-00-00,59 ST,01/04/2022,7676554,01/03/2022,7676298.0,256.0
4,A002,R051,02-00-00,59 ST,01/05/2022,7676817,01/04/2022,7676554.0,263.0
5,A002,R051,02-00-00,59 ST,01/06/2022,7677090,01/05/2022,7676817.0,273.0

In [36]:
total_turnstile_traffic = pd.merge(turnstiles_daily, turnstiles_daily_exits, on=["C/A", "UNIT", "SCP", "STATION", "DATE"])

In [37]:
total_turnstile_traffic.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,EXITS,PREV_DATE_EXITS,PREV_EXITS,DAILY_EXITS
0,A002,R051,02-00-00,59 ST,01/02/2022,7676054,01/01/2022,7675936.0,118.0,2649829,01/01/2022,2649668.0,161.0
1,A002,R051,02-00-00,59 ST,01/03/2022,7676298,01/02/2022,7676054.0,244.0,2650233,01/02/2022,2649829.0,404.0
2,A002,R051,02-00-00,59 ST,01/04/2022,7676554,01/03/2022,7676298.0,256.0,2650658,01/03/2022,2650233.0,425.0
3,A002,R051,02-00-00,59 ST,01/05/2022,7676817,01/04/2022,7676554.0,263.0,2651066,01/04/2022,2650658.0,408.0
4,A002,R051,02-00-00,59 ST,01/06/2022,7677090,01/05/2022,7676817.0,273.0,2651526,01/05/2022,2651066.0,460.0

This dataset has the daily `ENTRIES` and `EXITS` which have been cleaned similarly to the method above. The total traffic was calculated from the sum of the entries and exits. We can use this dataset to find the highest trafficked subway station. Below we see that Penn Station takes that mark followed by Grand Central Station.

In [38]:
total_turnstile_traffic["total_traffic"] = total_turnstile_traffic.DAILY_ENTRIES + total_turnstile_traffic.DAILY_EXITS

In [39]:
total_turnstile_traffic.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,EXITS,PREV_DATE_EXITS,PREV_EXITS,DAILY_EXITS,total_traffic
0,A002,R051,02-00-00,59 ST,01/02/2022,7676054,01/01/2022,7675936.0,118.0,2649829,01/01/2022,2649668.0,161.0,279.0
1,A002,R051,02-00-00,59 ST,01/03/2022,7676298,01/02/2022,7676054.0,244.0,2650233,01/02/2022,2649829.0,404.0,648.0
2,A002,R051,02-00-00,59 ST,01/04/2022,7676554,01/03/2022,7676298.0,256.0,2650658,01/03/2022,2650233.0,425.0,681.0
3,A002,R051,02-00-00,59 ST,01/05/2022,7676817,01/04/2022,7676554.0,263.0,2651066,01/04/2022,2650658.0,408.0,671.0
4,A002,R051,02-00-00,59 ST,01/06/2022,7677090,01/05/2022,7676817.0,273.0,2651526,01/05/2022,2651066.0,460.0,733.0

In [40]:
total_turnstile_traffic.to_pickle("total_turnstile_traffic.pkl")
#total_turnstile_traffic = pd.read_pickle("total_turnstile_traffic.pkl")

In [41]:
total_station_traffic = pd.DataFrame(total_turnstile_traffic.groupby(['STATION'])['total_traffic'].sum().sort_values(ascending = False).reset_index())
total_station_traffic.head(10)

           STATION  total_traffic
0   34 ST-PENN STA    538678766.0
1  GRD CNTRL-42 ST    417873985.0
2            23 ST    378164910.0
3  34 ST-HERALD SQ    355704602.0
4            86 ST    341824561.0
5           125 ST    325917900.0
6   14 ST-UNION SQ    322191333.0
7        FULTON ST    318168531.0
8   TIMES SQ-42 ST    312185285.0
9  42 ST-PORT AUTH    302571269.0